[2019-08-02 14:49] hayesry commented on #133
@crpahl Gotcha! I've added this to our feature request board and will try to have it published in the next update. Really appreciate the feedback!

[2019-08-02 14:56] hayesry commented on #132
Hey @abalsekar, it's possible that your FaceIndex is out of range and is throwing an error. Recommend checking CloudWatch logs to confirm this but we've added a feature request to make Smart Cropping fail more gracefully (aka return the original image when the face index is out of range or no faces are detected at all by Rekognition). Hope this helps!

[2019-08-02 14:56] hayesry commented on #132
Also, a potential limitation might be that Rekognition only returns a zero-based array for the first 100 faces detected in an image. So the maximum might be 99 instead of 100 in this particular case.

[2019-08-02 15:12] ecaron commented on #133
FWIW, I'm working on a PR that brings in https://github.com/jwagner/smartcrop.js (MIT licensed, no dependencies) and uses that plus Rekognition for some really nice results. I hope to get that submitted this weekend. I'm using it in production now, and I'm very happy with the quality of the results.

[2019-08-03 19:28] hayesry commented on #131
Hey all - Apologies for the documentation issues, we've taken a look and realized that some parts weren't updated to align with v4's capabilities. We're in the process of publishing the updated docs and they should be online early this upcoming week.

For the watermarking feature, we've added a feature request to our board and expect to have that rolled out in the next minor release. It will proba

[2019-08-03 20:14] hayesry commented on #137
Hey @rodrigofirpo

For simply returning a default image whenever one can't be found in the S3 bucket, I would use the getOriginalImage() method at `source/image-handler/image-request.js:42` as a starting point. My recommendation would be to replace the Promise.reject({}) content in the catch(err) block with something like:
`catch(err) {`
`  .  return Promise.reject(defaultImageBuffer)`
`};`
...whe

[2019-08-04 14:40] hayesry commented on #116
Hey @leviwilson - Thanks for providing a corresponding PR to this. I've added it to our review board and hope to have it pushed out in the next minor release. Appreciate your time and effort on this!

[2019-08-04 15:12] hayesry commented on #129
All, FYSA we've added @leviwilson's PR (#117) as referenced in #116 to our review board and hope to have it tested and rolled out in the next minor release. Thanks!

[2019-08-04 15:17] hayesry commented on #126
Hey all - We've taken note of the documentation issues you've mentioned above and are in the process of updating/publishing a new doc version. We expect this to be out within the next week. Thanks for the heads up on this!

[2019-08-04 15:24] hayesry commented on #125
Hey all, we're in the process of reviewing #130 to resolve this issue. Feel free to take a look at the changes made and provide feedback!

[2019-08-04 15:28] hayesry commented on #124
Hey all, the patch for the Lambda Execution Environment update affecting v3.x has been published and is available at (#127): https://solutions-reference.s3.amazonaws.com/serverless-image-handler/v3.1.1/serverless-image-handler.template

Hope this resolves the issue!

[2019-08-04 15:42] hayesry commented on #122
Hey @jamesshen-svt - Sorry you've been having trouble in this region. We have an automated publishing pipeline that deploys the build assets to each region once all of the dependencies are supported. If it's not yet available in your region, that probably means that one of the underlying AWS services isn't supported there just yet (...Rekognition Images, if I had to guess). Once these prerequisite

[2019-08-04 15:50] hayesry commented on #121
Hey @mandys - Thanks for bringing this to our attention and providing a code snippet that's been working for you so far. Apologies you had to go in and modify then re-deploy to get everything to work. I've added a bug/issue ticket for this but if you'd like to take the code that's been working for you and wrap it into a PR, we'd be happy to review and merge it into our next minor release!

[2019-08-04 15:53] hayesry commented on #120
Hey all - Thanks for bringing this issue to our attention, we're looking into it and hope to have an update for you soon!

[2019-08-04 16:00] hayesry commented on #119
Hey @cjbAus - Thanks for bringing this issue to our attention! We're in the process of reviewing #130 which should address your issue of sourcing images from S3 subdirectories. We've also reviewed and updated the documentation for this solution, making several improvements, and should have that rolled out in the upcoming week!

[2019-08-04 17:07] hayesry commented on #142
Hi @TuNi54 - This appears to be a duplicate of #131. Closing for consolidation. Please comment back on this thread if you're looking for something different than what's in that issue. Thanks!

[2019-08-05 05:39] thisjeremiah commented on #127
In case anyone else is managing their own template based on the original template: the only fix I needed in my template was to switch all instances of "3.1.0" to "3.1.1". This will target the correct solution image handler zip.

[2019-08-05 12:51] hayesry commented on #115
Hello all, please let me know if you're still experiencing trouble with the solution build/configuration process and I'd be happy to help where possible!

[2019-08-05 13:10] hayesry commented on #110
Hey @taaum - If you're testing the API with your web browser, this is an expected behavior since the browser is looking for the favicon.ico file when it requests the image. However, if you're using the API in your web application/site, there appears to be a wide array of potential workarounds to this issue available.

https://stackoverflow.com/questions/1321878/how-to-prevent-favicon-ico-requests

[2019-08-06 03:57] jamesshen-svt commented on #122
@hayesry thanks for your info. We managed to build the package via a fork. We only use thumbor at the moment. So currently the fork repo is good for us. Thanks.

[2019-08-06 03:57] #122 closed

[2019-08-06 12:42] rodrigofirpo commented on #137
Thanks @hayesry,

We will go this way! If we see that our solution is clean (from the programming POV) and could be helpful for other users we will create a Pull Request, perhaps other users could take advantage from this.

Best!

[2019-08-06 12:44] powertoaster commented on #111
This is also critical for us.
I will implement this locally and do some production testing.

[2019-08-07 06:28] videoAbyss commented on #35
where are you hosting this now ? If not zeit/now ?

[2019-08-07 08:30] peterkuiper commented on #127
@hayesry Can you share the updated build process? The new solution does not work for us since we have to support animated GIFs :(

[2019-08-07 18:27] stewwan commented on #35
@videoAbyss we’re using a static server. For now firebase hosting

[2019-08-09 17:57] TuNi54 commented on #131
Hi @hayesry,
thanks for your answer.

When you planned the next minor release please?

[2019-08-12 08:01] pputra commented on #115
I'm still having this exact same issue, please help, thank you.

[2019-08-12 08:03] bradleyayers commented on #115
My issue ended up being that I didn’t read the README properly and misunderstood how the bucket names work, and in particular that the bucket name is really just the prefix, and the region is appended as a suffix.

[2019-08-13 01:33] zhangjianlai522 opened #143 "修改函数代码不起作用，日志没什么用"
日志永远只有一种错误
Unable to import module 'index': Error
at Function.Module._resolveFilename (module.js:547:15)
at Function.Module._load (module.js:474:25)
at Module.require (module.js:596:17)
at require (internal/module.js:11:18)
完全看不出来是哪一行代码错误，
当我访问图片时，好像不会立刻生成日志
我在代码中加了很多console.log来打印，日志中没有出现我打印的提示

[2019-08-14 07:22] taaum opened #144 "Is filter no_upscale should set withoutEnlargement is true?"
in thumbor mapping.
Should set withoutEnlargement is true for filter no_upscale ?

[2019-08-16 23:05] aablain commented on #127
@hayesry Thank you for linking that! I used that template with the steps in https://github.com/awslabs/serverless-image-handler/issues/127#issuecomment-514757029 and it solved the issue for me. VERY MUCH appreciate it!

[2019-08-28 15:07] endigo opened #146 "Can't load images in Safari."
Can't load images on Safari Mac, iPhone, iPad. Even in any browser on the iPad.

<img width="1188" alt="Screen Shot 2019-08-28 at 11 06 50 PM" src="https://user-images.githubusercontent.com/1501644/63868101-8efc3600-c9e8-11e9-9d4d-d6726488380b.png">

[2019-08-29 12:51] pbirsinger commented on #35
My json data response is 750kb (<<5MB). Why am I also getting this error? @stewwan if your file is 300kb why do you get the error too?

[2019-08-30 16:26] abbaswattoo opened #147 "How new feature release works?"
How do update existing solution for August release? Do we have to update our own by pulling latest code?

[2019-08-31 10:31] #147 closed

[2019-08-31 21:56] rromanchuk commented on #129
It would be nice to also add output settings to the demo. I know this wraps Sharp but I'm not confident how I interface with it from my request body, and what is/isn't supported. I'm just starting to dig in the source now and I noticed new concepts like `requestType` and `outputFormat`. Does this mean i can theoretically pass in an options hash for even something like this? https://sharp.pixelplum

[2019-09-05 22:38] ahecht commented on #103
@biosini do you have a more specific example of how to implement this workaround? we're running into some issues where certain scrapers/validators (Facebook for one) are picky about the content-type being valid.

[2019-09-06 12:22] wingoo commented on #131
Any news on an update on the watermark feature?
thanks

[2019-09-09 05:47] SilverFoxA opened #148 "Smart Cropping stopped working from v4"
This issue is a duplicate of #132  but I wanted to point out so that we can get a fix as this is one of the most important features of all.

[code]

Also tried with

[code]

**Expected behaviour :**

Should fallback to original url if no face found.

**How to reporduce :**

Create a fresh instance from the template.

[2019-09-09 05:51] SilverFoxA commented on #133
@ecaron Hello Eric, It would be really helpful if you could kindly push out the pull requests. Thank you

[2019-09-09 13:47] tientq88 commented on #131
Hi all,
I created successfully an image with watermark with this parrameters.

{"bucket":"htvarts","key":"image.jpg","edits":{"overlayWith":{"bucket":"htvarts","key":"logo.png","options":{"top":90,"left":205}}}}

Create base64encode and try it.

[2019-09-11 18:12] caseygipson commented on #99
Any possibility of this getting merged?

[2019-09-14 15:59] wolber6969 opened #149 "å in filename"
Hi, we are now trying to move from version 3 to 4

we have som european character in  our filename (key)

like
testbern [1]ått.jpeg

Space is ok
[ . is ok
but å make  image handler not work

this is working for version 3 when we urlencode the key like  testbern+%5B1%5D%C3%A5tt.jpeg

But this is not possible in version 4

Any idea how to use a key with foreign characther in name ?

B

[2019-09-16 18:00] SjsolisZXA opened #150 "Extract Sometimes Works"
Hello,

So I have a method that extracts an image in C# based on the x1,y1,x2,y2 cords of an image, but sometimes it does not work. It seems like if I try extracting near the bottom or the right edge of the image it will fail. Is there a reason why it would work sometimes? The cords are always in bounds of the image.  Not sure if this is an issue with you guys or the sharp.js folks, but figured I

[2019-09-17 11:11] andyfurniss4 commented on #123
Any updates on when this will be properly fixed? This is still an issue for newly created stacks.

[2019-09-17 18:38] beomseoklee commented on #143
Hi @zhangjianlai522, can you share more detail about your change?

[2019-09-27 17:30] adrianosmateus commented on #123
Any fix? Im facing this same problem

[2019-09-29 18:17] rpong commented on #123
@andyfurniss4 , @adrianosmateus , we have fixed this in our fork, we have a pre-bundled export you can use readily:

https://github.com/innovationlove/serverless-image-handler/releases/tag/4.0.1-ilove

Use at your own risk.

[2019-09-30 10:19] tdmrut commented on #115
I have same issue, please let me know if you have any solution. Thanks

[2019-10-01 13:34] rapitivo commented on #115
I have found the problem. I found the README a bit confused.

1. DIST_OUTPUT_BUCKET and TEMPLATE_OUTPUT_BUCKET use the same value, without add the region in any of them.
2. Create 2 buckets one using the name in the variables above and another one adding the region at the end.
3. Build it and upload

[2019-10-01 19:35] aijunpeng commented on #115
Hello, thanks for your questions. Just to clarify, you will need to create two s3 buckets in the same region for storing customized source code and CloudFormation template, for example "my-test-bucket"(for storing customized source code) and "my-test-bucket-us-east-1" (for storing CloudFormation template). You will also need to export these two buckets as environment variables, for example export

[2019-10-01 19:42] aijunpeng commented on #115
Sorry, DIST_OUTPUT_BUCKET and TEMPLATE_OUTPUT_BUCKET should be the other way around. Below is the correction :

Create two s3 buckets in the same region for storing customized source code and CloudFormation template, for example "my-test-bucket"(for storing CloudFormation template ) and "my-test-bucket-us-east-1" (for storing customized source code). You will also need to export these two buckets

[2019-10-03 00:22] joebernard opened #153 "Animated gif support?"
I'm trying to use this to serve an animated gif but received this error:

[code]

Is gif support planned for a future release?

[2019-10-13 11:59] dvcsit-cci commented on #115
I am also facing the same problem. I followed the suggestions given above but it didn't work.

[2019-10-15 13:17] tomnight commented on #153
Thanks for reaching out,
We don't have any immediate plans to add animated gif support but I will ad it to the feature road map.

[2019-10-16 22:22] adamhughes86 opened #154 "Hex color codes on background_color filter do not work"
When I'm using the background_color filter I cannot get it to work with hex color codes. With named colors such as purple, red, indigo it works fine. As soon as it's changed to a hex code though the page returns an empty object. This happens when applied to transparent png's

Works: `filters:background_color(red)`
Breaks: `filters:background_color(f00)`
Breaks: `filters:background_color(f00f00)`
B

[2019-10-17 11:17] tap-andy opened #155 "Gif support?"
Does this solution support gif images? From what I've read I believe it should but the following URL gives an error message:

https://images.theadventurepeople.com/814x814/11/11-115895-tisa/beautiful-bali-9-days-c-cgmn5wqe.gif

When I request this through the demo website, it works as expected but not directly. It doesn't work, even without the size portion of the URL.

[2019-10-17 12:53] tap-andy commented on #155
Alos, if I encode my request, rather than using the 'pure' URL, it works - https://images.theadventurepeople.com/eyJidWNrZXQiOiJ0YXAtd2Vic2l0ZS1pbWFnZXMiLCJrZXkiOiIxMS8xMS0xMTU4OTUtdGlzYS9iZWF1dGlmdWwtYmFsaS05LWRheXMtYy1jZ21uNXdxZS5naWYiLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjgxNCwiaGVpZ2h0Ijo4MTQsImZpdCI6Imluc2lkZSJ9fX0=

[2019-10-17 14:25] hayesry commented on #154
Hey @adamhughes86. We've added a feature request to support hex codes in legacy mappings to the Thumbor-style URL paths. This issue exists because SharpJS doesn't support hex codes natively, thus requiring some custom conversion on our end into rgb(255, 255, 255) format. Thanks for bringing this to our attention!

[2019-10-17 14:31] hayesry commented on #155
Hey @tap-andy. This looks like a semi-duplicate issue of #112, which has been added as a feature request to our backlog for supporting multiple levels of sub-directories. As for GIF support, SharpJS (the image processing engine behind the solution) supports reading GIFs but not outputting them at the moment. This would be a feature request for that team at (https://github.com/lovell/sharp/). Hope

[2019-10-19 19:10] mberneis opened #156 "Node.js 10.x support"
Amazon announced that they drop support for Node8 - Switching the Node Version for the Lambda function to 10.x results in a response
[code]
Amazons Notice:
[code]

[2019-10-21 14:58] jedsmith13 commented on #156
It looks like the CustomResourceFunction is fine but that there is an issue with the image handler function. Looking at the error logs it appears that it is probably that sharp-node needs to be compiled for a specific version of Node.

I am going to need this so I will take a look and see if I can get it working and if I can I will create a PR.

[2019-10-21 21:06] jedsmith13 commented on #156
I created a pull request for this. #157

To make use of it before the changes are applied to the main build you will have to follow the example for a custom deploy in the readme. Of note make sure when you build that you do it with node 10 as the problem with sharp was that it was built for NodeJS 8, I am not entirely sure if minor version differences are an issue.

[2019-10-22 10:03] dalen commented on #156
I tried compiling it for node10, and it seems to work well then.

[2019-10-24 14:08] jedsmith13 commented on #102
@cravendy The build-s3-dist.sh is specifically to replace the image-handler.zip that AWS provides with a custom one. The problem is something else. Take a look at @aijunpeng's solution at https://github.com/awslabs/serverless-image-handler/issues/115#issuecomment-537197125

[2019-10-24 18:55] mberneis commented on #115
I am facing a related bucket problem. - The s3 copy succeeds once I name the buckets in a fashion @aijunpeng specified and change the first copy to
[code]
but when running the cloudformation script I get the following error in `CustomResourceFunction` :
[code]
I double-checked that I have the source bucket correct so it must be the `DIST_OUTPUT_BUCKET`. - Unfortunatley the error does not specify t

[2019-10-25 00:02] john-shaffer opened #159 "Use HTTP 404 status for missing images"
This is important for analysis tools. A 500 error looks like a major problem, while 404s are treated differently. It's also just the standard for Internet-facing websites.

[2019-10-27 22:02] joebernard commented on #133
Any update on the smartcrop PR?

[2019-10-28 15:01] tap-andy commented on #155
Thanks @hayesry. I've changed my requests to encode the request for GIFs only. Not ideal but it'll have to do for now!

[2019-10-28 15:08] tap-andy opened #160 "Cloudfront always returns "X-Cache: Miss from cloudfront""
I've noticed that my Cloudfront distribution for my serverless image handler setup is always returning the header:

`X-Cache: Miss from cloudfront`

Which means it'll always be passing through to the image handler and wasting time. I have sent the same request many times and it always returns this. I have tried both options for `Object Caching` in the Cloudfront behaviour settings (Use Origin Cach

[2019-11-04 09:15] tap-andy commented on #160
New info:

I am using a custom domain for my image handler. The caching works if I use the original Cloudfront domain, but not if I use my custom domain.

[2019-11-04 16:39] tap-andy commented on #160
Solved:

I have my custom domain set up incorrectly. I had attached the custom domain to the API Gateway distribution created by CloudFormation rather than to the actual CloudFront distribution. After switching this around, I now get CloudFront cache hits as expected.

[2019-11-06 00:44] lpfeup commented on #134
Any update on this? I also had to resort to the same workaround (fixing JSON and importing from file for Terraform)

[2019-11-07 10:08] npedrini commented on #5
Just FYI, I was also getting the error @onassar reported, but my problem ended up being that I was using the uncompiled template directly from the repo. Once I used the compiled version linked by @stevemorad I no longer got the bucket name error.

[2019-11-08 15:52] beomseoklee commented on #156
We are trying to update the solution in this year to support Node.js 10.x.

[2019-11-08 16:05] beomseoklee commented on #159
Thanks for your input. We will consider to change in the next release.

[2019-11-11 11:31] toredash commented on #149
@wolber6969

We use base64 encoded request and have this issue as well.

Fix for us to replace this line https://github.com/awslabs/serverless-image-handler/blob/9ccdb7180c7881eb78c220f3958b671d968c16dd/source/image-handler/image-request.js#L197
From
`return JSON.parse(toBuffer.toString('ascii'));`
To:
`return JSON.parse(toBuffer.toString('ascii'));`

Example:

'{"bucket":"X","key":"ø.jpg","edits"

[2019-11-14 17:20] ericquinones commented on #149
Hi there,
Thanks for the input. This has been added to our list of items to evaluate for future releases. Please monitor the repository for updates.

[2019-11-15 13:59] ericquinones commented on #104
Hi @biosini,
Are you still having this issue?

The below worked for me using version 4.0.0 of Serverless Image Handler. I received a `jpeg` response:
[code]

[2019-11-15 15:01] ericquinones commented on #115
Hi there,
Are you still experiencing this issue? If so, to help troubleshoot a bit, can you please have a look at the `serverless-image-handler.template` file that should have been created in `deployment/dist/` after this step in the [readme](https://github.com/awslabs/serverless-image-handler/blob/master/README.md#building-distributable-for-customization): `sudo ./build-s3-dist.sh $DIST_OUTPUT_BU

[2019-11-15 15:16] ericquinones commented on #102
Hi @juanpicuervo
To confirm, are you experiencing issues when building a custom distribution as described [here](https://github.com/awslabs/serverless-image-handler#building-distributable-for-customization) or was this an issue when you were deploying the solution directly from our website?

If you were building a custom distribution, to help troubleshoot, can you please confirm that when you set

[2019-11-15 15:50] ericquinones commented on #150
Hi @SjsolisZXA,
Are you still experiencing this issue? I attempted to reproduce this but it was working as expected for me using V4 of Serverless Image Handler. I tried the below in Node.JS with a 600x600 image and was able to extract the bottom-right 100x100 section:
[code]

Just to rule it out, I noticed you mentioned you are supplying 2 sets of coordinates to your function. What you need to do

[2019-11-15 16:45] ericquinones commented on #148
Hi @SilverFoxA,
Apologies for the inconvenience. This is indeed on our feature request board as noted in #132 and #133. I'm unable to give an ETA but please continue to monitor the repo for updates.

Thank you

[2019-11-15 17:11] ericquinones commented on #146
Hi @endigo,
Apologies for the inconvenience. To help troubleshoot:
* Are you able to share any information on how to reproduce?
* Any information you can share from Safari's developer tools might be helpful
* Were you using any options to manipulate the original image? Does the error seem to happen with specific options and not others?

On this end, I was able to successfully load images using a v

[2019-11-18 05:52] endigo commented on #146
I made a mistake.

Safari not support webp images. I resolved that issue by change format to jpeg.

Thanks

[2019-11-18 05:52] #146 closed

[2019-11-23 12:10] swapnilmmane opened #163 "Image scaling not working if image name contains 'x' alphabet"
If the image name contains x alphabet in its name, the scaling is not as expected.

The reason for this issue is code in `process(event)` function of `thumbor-mapping.js` file

[code]
Now due to this code, if the image name contain x alphabet, the value of 'this.edits.resize.width' and `this.edits.resize.height` set as `NaN`.

Thus the system is unable to scale the image.

e.g. URL https://<demour

[2019-11-25 13:12] lmontier commented on #156
Do you have any news ? (because it is almost the end of the year...)

[2019-11-28 07:23] meherdevashish opened #164 "Upgrade plan from Nodejs 8.x to higher version"
Hi

We have been using this solution in our **Production environment** from a time when it was on Python 2.7 and now with Python 2.7 coming to an EOL , we planned it to upgrade to its latest version
The latest version again is running on Nodejs 8.x which again is coming to an EOL .
Please let us know what is the RoadMap for this service and the timelines .
Are there any **plans** for **upgrading i

[2019-11-29 01:54] xiaoxie110 commented on #131
https://sharp.pixelplumbing.com/en/stable/changelog/#v0220-18th-march-2019
They have removed overlayWith previously deprecated in v0.22.0.！

[2019-12-04 00:18] dscpinheiro commented on #156
Hi @lmontier,

Sorry for the delay in the response.

We are still working on the update, and we’re planning to release it before December 31st.

We’re also going to use node12 (instead of node10), since this version will be supported until April 2022 (https://aws.amazon.com/about-aws/whats-new/2019/11/aws-lambda-supports-node-js-12/).

[2019-12-04 00:20] dscpinheiro commented on #164
Hi @meherdevashish,

Sorry for the delay in the response.

Yes, we're planning an update from node8. Please see https://github.com/awslabs/serverless-image-handler/issues/156#issuecomment-561417084

[2019-12-04 19:44] mohsenari commented on #163
Hi @swapnilmmane Thanks for finding this issue. We confirmed that this is a bug and added to our backlog for fix.

[2019-12-05 17:48] nxz91 commented on #120
Hey @hayesry any chance you'll merge this PR?

[2019-12-06 14:10] rybakit commented on #121
Yet another simple workaround:

[code]
But note, that you have to normalize the `matchPattern` value by omitting leading and trailing `/` and escaping special characters. For examplre, for the `/thumbs\/(\d+x\d+)/` regex you should set `REWRITE_MATCH_PATTERN` to `thumbs/(\\d+x\\d+)`.

[2019-12-09 10:44] tcagkansokmen opened #166 "Is there any step by step guide?"
for how to make on the fly resizer?

aws documentation is deprecietad.

here's only codes but no guide.

[2019-12-09 16:02] leofidus commented on #166
Have you seen https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/welcome.html

[2019-12-09 16:25] leofidus commented on #133
The current state on the fork from @ecaron seems to work well at least in our testing

[2019-12-09 16:54] ecaron commented on #133
Sorry, I've been delaying submitting the change for a PR because I haven't reviewed the license tree of the dependency & I haven't written tests yet. Since there's so much interest and this ticket is getting some age on it, I'll put time to this tonight.

[2019-12-09 17:41] tcagkansokmen commented on #166
@leofidus
I've followed this guide;

https://aws.amazon.com/blogs/compute/resize-images-on-the-fly-with-amazon-s3-aws-lambda-and-amazon-api-gateway/

and uploaded source/image-handling folder as a .zip file for lambda.

but it gives errors below

[code]

[2019-12-09 18:50] tcagkansokmen opened #167 "How to make a rewrite format"
I installed with cloudformation template.

But I want to use my images like;

https://blabla.cloudfront.net/300x300/images/myimage.jpg

how can this be possible?
what shoudl I change on which scripts?

[2019-12-09 18:54] tcagkansokmen commented on #27
@triunm hi there,

whats your pattern to serve your images like blabla.cloudfront.net/300x200/images/image.jpg

?

thanks

[2019-12-10 02:50] aassadza commented on #166
Hi @tcagkansokmen, thanks for your question on the Serverless Image Handler solution. The Deployment Guide is at https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/welcome.html as mentioned by @leofidus above.

For this solution, I recommend you follow the deployment guide for this solution instead. Note that there is section on automated deployment with step-by-step instruction

[2019-12-10 11:25] lithiumoxide opened #168 "S3 path deprecation in 2020: how will this affect the Serverless Image Handler?"
Hi,

Amazon are deprecating S3 paths to buckets. Instead of the bucket name coming _after_ the S3 domain, the bucket name will become a subdomain of the main S3 domain. (See: https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/)

I use version 3.1 of the solution and have a requirement to continue using it rather than version 4. I see that in version 3.1 the Lamb

[2019-12-10 16:39] onassar opened #169 "Migrating from Thumbor to SharpJS"
Hi there -
Going through the flow to update my CloudFormation stack, and wondering if there's any good documentation on what's supported by SharpJS relative to Thumbor.

I'm finding it a tad confusing as to how to actually rewrite URLs, and what parts are supported (eg. `full-fit-in`, quality filters etc).

Is there any solid tutorials, documentation or examples I could follow?

[2019-12-10 17:53] dscpinheiro commented on #169
Hi @onassar,

The list of supported Thumbor filters is available on the implementation guide: https://s3.amazonaws.com/solutions-reference/serverless-image-handler/latest/serverless-image-handler.pdf

[2019-12-10 22:47] leofidus commented on #133
That sounds great. One detail we have changed is to force the image to be PNG (.png() in applyEdits()). Without this webp images don't work because either smartcrop or recognition don't accept webp.

[2019-12-11 00:02] onassar commented on #169
Thanks; I took a look at that but didn't see the same transformations (eg. specifying just a width/height without a specific thing like `full-fit-in`).

Let me take a closer look and re-open this ticket if I can't find it.
Thanks for the quick reply!

[2019-12-11 18:17] leofidus commented on #133
Another issue that's worth pointing out with ecaron's excellent code is that AWS Recognition has a 5MB upload limit which a large image might hit. It's fairly straightforward to solve for nearly all cases by rescaling what you send to Recognition (it returns relative coordinates anyways).

[2019-12-12 12:45] martin commented on #156
Will the update come before Christmas? Changes at the end of the year are generally a bad idea. It would be good if the solution is ready soon so that we can use it safely and tested.

[2019-12-12 12:53] dscpinheiro commented on #156
Hi @martin,

Yes, we're planning to release it before Christmas.

[2019-12-12 14:50] rakk7 commented on #111
Is this future gonna be released soon? or you have decided to not add it.. and leave it to the user zone?

[2019-12-13 03:50] aassadza commented on #167
Hi @tcagkansokmen, thanks for your question. Would you please provide some more details? Specifically, in the example https://blabla.cloudfront.net/300x300/images/myimage.jpg that you provided, is _https://blabla.cloudfront.net_ representing the ApiEndpoint and _images/myimage.jpg_ the key in the S3 source bucket that your image resides? What error do you get in the response?

Also note there is a

[2019-12-13 18:24] tcagkansokmen opened #170 "Is that possible to work with cloudflare?"

[2019-12-16 05:44] onassar commented on #169
Hi -
I've finally gone ahead and read through the Appendix, and am still a tad confused (aka can't get the Backward Compatibility features working).

Here is a sample URL using the `4.0` version (with SharpJS):
https://d1dlp8obae9u89.cloudfront.net/eyJidWNrZXQiOiJhcHAubG9jYWwuZ2V0c3RlbmNpbC5jb20iLCJrZXkiOiJhc3N0Ym9ybmRhMnciLCJlZGl0cyI6eyJncmF5c2NhbGUiOnRydWV9fQ==

This was created using the follow

[2019-12-16 08:16] nicosh commented on #156
@dscpinheiro , any update christmas is coming up soon

[2019-12-16 12:00] dscpinheiro commented on #169
Hi @onassar,

It looks like the image-request function expects the key name to contain the file extension:
https://github.com/awslabs/serverless-image-handler/blob/9ccdb7180c7881eb78c220f3958b671d968c16dd/source/image-handler/image-request.js#L160-L185

Would it be possible to check if problem still happens if the extension is present? For example:
[code]

[2019-12-16 12:10] dscpinheiro commented on #170
Hi @tcagkansokmen,

I haven't tried using CloudFare with API Gateway, but I don't see any reason why it shouldn't be possible if you customize the solution.

I also found this answer on Stack Overflow that might help you: https://stackoverflow.com/a/45849093

[2019-12-16 13:47] nicosh commented on #168
@lithiumoxide
**Out with the Old**
In response to feedback on the original deprecation plan that we announced last week, we are making an important change. Here’s the executive summary:

**Original Plan** – Support for the path-style model ends on September 30, 2020.

**Revised Plan** – Support for the path-style model continues for buckets created on or before September 30, 2020. Buckets created

[2019-12-16 17:42] onassar commented on #169
So the problem is that the object doesn't actually have a filename extension. That's by design. When I append a filename extension that matches the Content Type of the file, the URL becomes:
https://d1dlp8obae9u89.cloudfront.net/filters:grayscale()/asstbornda2w.jpg

But then the error (quite naturally) becomes:

It seems like the mistake here is the presumption that an object always has a file ext

[2019-12-16 19:36] georgebearden commented on #156
HI All - The latest commit contains the Node updates. Please let us know if you need additional assistance.

[2019-12-16 19:36] #156 closed

[2019-12-16 19:37] georgebearden commented on #164
Hi @meherdevashish - The latest commit contains these updates.

[2019-12-16 19:37] #164 closed

[2019-12-16 19:37] georgebearden commented on #166
@tcagkansokmen - Please let us know if you need additional assistance here. Closing this issue for now.

[2019-12-16 19:37] #166 closed

[2019-12-16 19:39] georgebearden commented on #134
Hi @paul and @lpfeup - This issue was addressed in the latest commit.

[2019-12-16 19:39] #134 closed

[2019-12-16 20:06] andidev commented on #156
@georgebearden what is the recommended way to upgrade without any downtime?

[2019-12-16 20:31] dscpinheiro commented on #156
Hi @andidev,

You should be able to update an existing stack with the latest template (https://s3.amazonaws.com/solutions-reference/serverless-image-handler/latest/serverless-image-handler.template). That will require minimum downtime since the lambda function runtime has changed.

[2019-12-16 20:34] vitalinfo commented on #156
@andidev it depends on what sharpJS features you are using, because 0.23.3 doesn't really compatible with 0.21.3.

[2019-12-16 21:53] brad13x commented on #156
@dscpinheiro can you dumb it down a little bit for me. I cant find anything on updating templates for Lambdas on AWS.

[2019-12-16 22:22] dscpinheiro commented on #156
@brad13x, here's what I meant:

1. Go to your existing stack and click update:
![update-01](https://user-images.githubusercontent.com/3842788/70947889-1af6a400-2052-11ea-9cbc-287982780fb6.png)

2. On the Update stack screen, select "Replace current template" and specify the latest template (https://s3.amazonaws.com/solutions-reference/serverless-image-handler/latest/serverless-image-handler.templa

[2019-12-17 01:33] lpfeup commented on #134
Thank you @georgebearden 👍

[2019-12-17 01:51] mberneis opened #171 "New Version 4.1 unable to resize images proportionally if width set to 0"
The previous release version was able to resize proportionally if the width was set to 0

Request Body:
[code]

The current version 4.1 returns an empty JSON string

[2019-12-17 02:37] brad13x commented on #156
@dscpinheiro Thank you so much! This helped a lot. Did not know about this area of the site.

[2019-12-17 02:37] brad13x commented on #156
Is anyone else getting this error? 1 validation error detected: Value 'serverlessrepo-image-resizer-serviceImageHandlerFunctionRole-us-west-2' at 'roleName' failed to satisfy constraint: Member must have length less than or equal to 64 (Service: AmazonIdentityManagement; Status Code: 400; Error Code: ValidationError;

[2019-12-17 08:37] vitalinfo commented on #156
any advices?
CloudWatch Logs role ARN must be set in account settings to enable logging (Service: AmazonApiGateway; Status Code: 400; Error Code: BadRequestException;

[2019-12-17 10:34] simonian commented on #156
@brad13x When you launch the CloudFormation stack under the hood it creates IAM::Role with the name of the format `{CloudFormationName}ImageHandlerFunctionRole-{CloudFormationRegion}`. In your case it is `serverlessrepo-image-resizer-serviceImageHandlerFunctionRole-us-west-2`.

The problem is that the resulting IAM::Role name should be less than or equal to 64 characters. But in your case, there a

[2019-12-17 11:54] dscpinheiro commented on #171
Hi @mberneis,

We had to update the version of sharp (since the Node 12 Lambda runtime uses Amazon Linux 2 - not compatible with v0.21.3), and it looks like on the [v0.23.1 release](https://github.com/lovell/sharp/blob/master/docs/changelog.md#v0231---26th-september-2019), the library now explicitly checks that width and height are valid positive numbers.

https://github.com/lovell/sharp/commit/69

[2019-12-17 13:04] lpfeup opened #172 "AmazonApiGateway BadRequestException"
Hi, I got the following error when attempting to update the stack from version 4.0.0 to 4.1:

[code]

[2019-12-17 14:16] martin commented on #156
I get some errors when i update the Stack with the new template file:

`my_stackname, UPDATE_ROLLBACK_IN_PROGRESS: The following resource(s) failed to create: [Logs, ApiLoggingRole]. The following resource(s) failed to update: [ImageHandlerApiDeployment, CustomResourceCopyS3, CustomResourceAnonymousMetric].`

and

`ImageHandlerApiDeployment, UPDATE_FAILED: CloudWatch Logs role ARN must be set in a

[2019-12-17 14:30] dscpinheiro commented on #156
Hi @martin,

It looks like it's the same issue as https://github.com/awslabs/serverless-image-handler/issues/172.
I'll investigate and reply there.

[2019-12-17 15:12] dscpinheiro commented on #172
Hi @lpfeup,

I was able to reproduce the problem on my account. It looks like there are two alternatives:
- Launch a new stack using the same bucket as _SourceBuckets_ (**recommended**)
  - This will create new distributions, but they will have API logging enabled (which is a best practice).

- Update the template manually (https://s3.amazonaws.com/solutions-reference/serverless-image-handler/late

[2019-12-17 15:16] dscpinheiro commented on #156
@martin, @andidev

Yesterday I wrongly said that updating was possible, but it turns out that is not the case.

I apologize for the mistake, and I listed some alternatives on https://github.com/awslabs/serverless-image-handler/issues/172#issuecomment-566583834, and I'll make sure this information is included on the implementation guide.

Again, sorry for the inconvenience.

[2019-12-17 16:24] lpfeup commented on #172
Thanks @dscpinheiro, I will recreate the stack.
I would suggest adding a note on the documentation regarding this upgrade caveat, but feel free to close the issue.

[2019-12-17 17:07] mberneis commented on #171
@dscpinheiro

The issue you mentioned talks about issues when passing floating point values resize functionality.
However, reading through https://sharp.pixelplumbing.com/en/stable/api-resize/ which allows specifying width or height only , I tried passing `null` instead of `0` and the function returned the correct image.

[2019-12-17 17:07] #171 closed

[2019-12-17 19:38] abbaswattoo commented on #120
Hey @hayesry any update on this please?

[2019-12-18 10:05] meherdevashish commented on #164
Thanks a lot George!! Noted

[2019-12-18 17:02] joebernard opened #173 "How to upgrade from 4 to 4.1?"
What is the process to upgrade the template from 4 to 4.1 and maintain existing assets (including CloudFront URLs)? The docs only show a new installation. Are there docs on performing an upgrade?

[2019-12-19 12:00] dscpinheiro commented on #173
Hi @joebernard,

No, there are no docs because we've added a couple of resources to the template that make updating it fail (as reported on #172).

I've listed the alternatives on this comment: https://github.com/awslabs/serverless-image-handler/issues/172#issuecomment-566583834

[2019-12-19 13:44] 4ice commented on #137
Hello, I also want to do the same as you described above @rodrigofirpo, with a fallback image. Have you made a working solution? Is it something that you could share?

[2019-12-19 14:42] knihit commented on #168
Hi @lithiumoxide based on the revised plan (https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/), you can still continue using the old style S3 endpoints for v3.1. Please let us know if you have questions in this regard. If not can we close this issue.

[2019-12-19 14:47] knihit commented on #167
Hi @tcagkansokmen, please let us know if the resolution provided by @aassadza worked for you. If so, can we close this issue.

[2019-12-19 15:08] #173 closed

[2019-12-19 15:11] lithiumoxide commented on #168
Hi,

Thanks for the updates. We plan on creating new deployments of the solution _after_ the S3 path deprecation has been carried out (we use CloudFormation to set it up).

Does anything need to be changed in the template or code to cater for the changes in S3 after September 2020? My initial thoughts are that, right now, the variables TC_AWS_ENDPOINT and TC_AWS_LOADER_BUCKET are concatenated to f

[2019-12-19 18:33] knihit commented on #144
Hi @taaum, we will review the feature request and if possible plan for it an upcoming release

[2019-12-23 00:32] rromanchuk commented on #44
@leviwilson do you have a recent workflow (current Dockerfile) for building this?  I want to avoid a rabbit hole if possible.

[2019-12-23 03:32] rromanchuk commented on #127
This entire section https://github.com/awslabs/serverless-image-handler#building-distributable-for-customization should be removed until any sort of semblance of a deterministic build can be achieved.

You can brick you entire deployment by simply changing a Tag value and end up replacing your imagehandler function with an architecture that is unsupported. It will allow you do that without a peep

[2019-12-23 16:42] leviwilson commented on #44
@rromanchuk this is what I'd done the last time we needed to build it

https://github.com/northwoodspd/serverless-image-handler/blob/sharp-output-format/.gitlab-ci.yml

[2019-12-24 11:15] Karlen92 opened #175 "Image handler V4.1 cannot access objects inside S3 folder"
I found the following code is serverless-image-handler lambda function code.

[code]

In the following lines
[code]

the function splits the path with **/**, which is also delimiter for s3 folders, as a result if I request with this url

mycf.cloudfront.net/fit-in/800x1000/**images/004ac6-1572505735720.png**

It actually seeks for

mycf.cloudfront.net/fit-in/800x1000/**004ac6-1572505735720.png**

[2019-12-24 13:29] tapughose commented on #175
@Karlen92 , thank you for reaching out. We are aware of the issue and there is an active [PR](https://github.com/awslabs/serverless-image-handler/pull/130) with the fix which is not merged yet.

[2019-12-26 02:58] onassar commented on #169
Happy Holidays! Also: bump ;-)

[2019-12-28 00:11] dscpinheiro commented on #169
Hi @onassar,

As mentioned before, this is expected behavior of the solution at this time, but we'll keep this issue open and we will address it if there's enough demand for it.

For the next release, we're focusing on integrating the open PRs (https://github.com/awslabs/serverless-image-handler/pulls).

[2019-12-28 00:12] onassar commented on #169
Okay thanks for the response. I would imagine it's not uncommon for people to omit file extensions, but I can't be sure.

[2019-12-29 17:25] marco910 commented on #156
Hi everyone,

Before I've updated the image handler to NodeJS 12.x it was possible to enter a URL like:
_https://xxxx.cloudfront.net/fit-in/1500x0/image.jpg_
The response was the image with a width of 150px and the height according to the aspect ratio.

Now, after the update, I get the following Error in CloudWatch:
**_Expected positive integer for height but received 0 of type number
at Object.in

[2019-12-29 22:04] dscpinheiro commented on #156
Hi @marco910,

We had to update the version of sharp, and I believe the issue you mentioned is the same one as this: #171

Could you try this approach (https://github.com/awslabs/serverless-image-handler/issues/171#issuecomment-566656678) and check if the problem still happens?

[2019-12-30 13:04] marco910 commented on #156
Hi @dscpinheiro,

Yes that's the same issue as in #171 . @mberneis is requesting the image with JSON but in my case the request is with a "normal" URL. How can I make a valid request with a URL?

[2019-12-30 14:13] dscpinheiro commented on #156
Hi @marco910,

So I just tested and it doesn't look like it's possible to do the request you want via URL on v4.1. Unfortunately, as I mentioned on the other issue, we had to update sharp for compatibility with Amazon Linux 2.

The alternative is to do the request via JSON, and I'll update the documentation to make that clear.

[2020-01-02 08:30] mandys commented on #56
I already have a distribution launched. Uses Python/Thumbor ( not the new nodejs/sharp ).

I am trying to get it to work with multiple buckets like mentioned above.

I tried settings the environment variable,
TC_AWS_LOADER_BUCKET to empty

Once I try access it like:
https://my_distr.cloudfront.net/fit-in/120x150/my_bucket/1_230656.20063.860870_v1_source.jpg

I get the following in error logs

 Fil

[2020-01-02 11:58] mandys commented on #56
Okay - it seems like my code version was old and I had to change one line and redeploy the lambda function.

This was in __init.py

My code had
if bucket is None:

Had to replace with

if not bucket:

[2020-01-02 18:23] astuyve commented on #56
I see! Glad you got it sorted out.

I trust it works with the latest changes?

Thanks,
Aaron Stuyvenberg

On Thu, Jan 2, 2020 at 5:28 PM Mandy Singh <notifications@github.com> wrote:

[2020-01-06 07:08] mandys commented on #56
Yes, it does @astuyve.

[2020-01-06 23:12] brad13x opened #176 "Image returning {} on about 2% of uploads"
On about 2% of the images I upload to the s3 the cloudFront url returns {} instead of an image.

Any clues on how to fix this?

[2020-01-07 00:01] brad13x commented on #176
I believe its having an 'x' in the filename.

[2020-01-07 02:11] brad13x commented on #107
@NewToScripting where can I update my code in AWS or do i need to rebuild it somehow and upload the new template?

[2020-01-08 09:49] ofir-shapira-como commented on #103
Hi, this issue also breaks common libraries like .NET Core HttpClient, in addition to Facebook's crawlers.

[2020-01-08 10:43] ofir-shapira-como commented on #103
Maintainers (@hayesry) , please note I created a PR in one of the forked repositories -
https://github.com/innovationlove/serverless-image-handler/pull/1/files

Let me know if you want to solution here, I will create one for this one as well.

[2020-01-08 14:08] dalen commented on #156
@dscpinheiro Can't you make the handler convert a `0` passed on the url into a `null`?

[2020-01-08 14:14] dscpinheiro commented on #156
Yes, that's definitely an option. I'll add this change to our backlog for the next release.

[2020-01-09 11:38] Lunteer commented on #107
Just wanted to add my vote for this feature. It would also be great if we can set it at the setup level like CORS, demo site, etc

[2020-01-09 20:54] Susan123456789 commented on #107
+1

[2020-01-10 15:05] OBrown92 commented on #175
The fix in the PR is unfortunately not working for me. Is it somehow possible to deploy the 3.1 version again and then try to update it with the solution in the PR? Would be so nice if this will make it finally in the production version.

[2020-01-12 10:32] marco910 commented on #156
Hi, When can we expect the feature back in the image handler?

[2020-01-13 12:48] Karlen92 commented on #175
@OBrown92  download your code from lambda, edit the function in the lines I mentioned, and upload it to lambda, It works for me now in that way.

[2020-01-16 13:17] karensg commented on #99
This would be great. Really excited about this feature.

[2020-01-22 08:57] deadmantfa commented on #120
https://github.com/awslabs/serverless-image-handler/pull/158

The pull request already exists can we have this merged

[2020-01-29 21:53] badstanford opened #178 "convert to format: webp"
Hello,

I cannot figure out how to convert images to webp format. Please help me understand how to make this work.

Below is an example of the image edits I've been tinkering with. You can see how I've tried applying "toFormat" and "format" but my image is still outputting jpg.

All the other edits (eg. tint, flop, blur, resize) are functioning properly.

`$img = [
						'bucket' => $this->aws_buc

[2020-01-30 12:30] jensnylander commented on #176
Yes I can confirm having x in the filename returns {}

[2020-01-31 21:37] #178 closed

[2020-02-01 14:49] JoeShi opened #179 "Add AWS China region support"
Need AWS China region support

[2020-02-01 16:20] JoeShi commented on #179
I have changed the CFN template and build and upload to AWS China region S3. This is the -[deployment guide](https://github.com/JoeShi/serverless-image-handler/blob/aws-cn/AWS_CN.md).

Currently, the Demo UI is not working for China region.

[2020-02-02 18:28] JoeShi commented on #179
Add Demo UI support for China region. see changes in this [commit](https://github.com/JoeShi/serverless-image-handler/commit/7c341e8d1961443564f4e395a963ca29b2dae226)

[2020-02-03 20:40] beomseoklee commented on #179
@JoeShi thanks for your opinion. However, we don't officially support China regions for now, so like you did, it would be better to fork the repository, and others can refer to your repository for China region support.

[2020-02-03 22:29] beomseoklee commented on #168
@lithiumoxide, that would be true if you create a new stack after September 30, 2020.
May I know what makes you stay on v3.1 rather than v4?

[2020-02-03 23:04] Susan123456789 opened #181 "Something went wrong installing the "sharp" module"
I followed the instructions in the README to create my own version of the Serverless Image Handler.  I am using WSL on Windows, so I modified the package.json build script to build for linux like this:

[code]

I am able to build and deploy the template just fine, but when I try to actually process an image I get the following error in the lambda logs:

[code]

I have also tried installing the sha

[2020-02-03 23:40] beomseoklee commented on #181
@Susan123456789 to clarify your issue, I assume this would be what you did:

1. You forked the repository.
1. Then, you cloned the forked repository on your machine.
1. Then, you modified the ```package.json``` to build to run on the linux platform.
1. Then, you ran ```build-s3-dist.sh``` script to build the Serverless Image Handler solution.
1. Then, you uploaded built files to S3, and you deploy

[2020-02-04 15:09] Susan123456789 commented on #181
Yes, that is exactly what I did.

[2020-02-05 16:44] beomseoklee commented on #181
When you build the source code using ```npm run build```, have you seen a message like ```info sharp Using cached /YOUR/PATH/.npm/_libvips/libvips-8.8.1-linux-x64.tar.gz```?

[2020-02-05 18:05] Susan123456789 commented on #181
Yes!  I tried cleaning the npm cache, but it still says this.  Is this what is causing the problem?

[2020-02-06 19:07] thadallender commented on #131
It would be nice if this package supported the intended use of the Sharp JS `composite` function. Unlike the deprecated `overlayWith` function in Sharp JS, the `composite` function supports multiple images, which can be used to generate much more complex (and useful) image composites.

In our case, we need to use the `composite` function to generate dynamic product previews, similar to this:

![pr

[2020-02-06 21:40] beomseoklee commented on #129
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:41] beomseoklee commented on #116
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:41] beomseoklee commented on #114
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:41] beomseoklee commented on #121
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:41] beomseoklee commented on #125
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #106
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #112
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #119
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #123
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #167
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:42] beomseoklee commented on #175
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:43] beomseoklee commented on #163
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:43] beomseoklee commented on #176
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:43] beomseoklee commented on #141
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

However, as your pull request says, it only accepts the regular expression after launching the solution.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:44] beomseoklee commented on #99
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:44] beomseoklee commented on #103
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #107
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #120
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #159
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #149
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #154
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:45] beomseoklee commented on #144
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHANGELOG.md)

[2020-02-06 21:47] beomseoklee commented on #109
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

For the way how you can create a watermark, you can refer to the implementation guide [Appendix D: List of Supported Thumbor Filters](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-d.html).

You can

[2020-02-06 21:47] beomseoklee commented on #131
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

For the way how you can create a watermark, you can refer to the implementation guide [Appendix D: List of Supported Thumbor Filters](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-d.html).

You can

[2020-02-06 21:48] beomseoklee commented on #142
We have updated our solution, and I believe your issue has been fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

For the way how you can create a watermark, you can refer to the implementation guide [Appendix D: List of Supported Thumbor Filters](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-d.html).

You can

[2020-02-06 21:49] beomseoklee commented on #97
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:49] beomseoklee commented on #102
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:49] beomseoklee commented on #104
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:50] beomseoklee commented on #105
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:50] beomseoklee commented on #110
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:50] beomseoklee commented on #115
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:50] beomseoklee commented on #124
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:51] beomseoklee commented on #126
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:51] beomseoklee commented on #127
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:51] beomseoklee commented on #143
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:52] beomseoklee commented on #150
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:52] beomseoklee commented on #160
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:52] beomseoklee commented on #170
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:52] beomseoklee commented on #172
We are closing this issue, but please feel free to open the issue again if you any other support.

[2020-02-06 21:57] beomseoklee commented on #181
I wish I can help you more, but it's hard to recognize what exactly caused your issue. But the good news is that we have updated our solution, and I believe your initial issue might be fixed. If you still see the issue with the latest version (v4.2), please feel free to reopen the issue.

You can refer to the recent changes [here](https://github.com/awslabs/serverless-image-handler/blob/master/CHA

[2020-02-06 22:46] brad13x commented on #176
@beomseoklee what is the best way to update on AWS?

[2020-02-06 23:12] beomseoklee commented on #176
If you don't mind to create a new stack, it would be better to launch the new one. If you wish to keep your old one, I would say you can update the stack with the latest template, which is https://s3.amazonaws.com/solutions-reference/serverless-image-handler/latest/serverless-image-handler.template

With the new template, I believe your Lambda function would be updated as well.

[2020-02-07 00:30] neilsh commented on #121
@beomseoklee are you sure version 4.2 addresses this issue? I checked through the diff for version 4.2 and I can't find any changes related to the path rewrite functionality: https://github.com/awslabs/serverless-image-handler/commit/19cbc3ce759d7c8d8ddc35081972d7ac1daf0c71

[2020-02-07 00:57] harriswong commented on #141
cc @crpahl

[2020-02-07 11:54] OBrown92 opened #183 "400x0 is resulting in a empty response"
First of all, thanks for all the effort in this project and especially in the new update 4.2.
Unfortunately one thing from the Pull Request [#130 ](https://github.com/awslabs/serverless-image-handler/pull/130) of [rpong](https://github.com/rpong) is still not working. If I only set one size and leave the other '0', then the response is empty.

[2020-02-07 16:20] beomseoklee commented on #183
Thanks for your input, @OBrown92
I've seen the Thumbor manual regarding [image resize](https://thumbor.readthedocs.io/en/latest/usage.html#image-size), and resize needs to be improved definitely.

We would improve this one at the next release.

[2020-02-07 17:26] beomseoklee commented on #121
@neilsh I think it was my mistake to group the open issues.
We will take a look at this issue again. I'm sorry for the confusion.

[2020-02-07 21:17] #181 closed

[2020-02-07 21:18] #97 closed

[2020-02-07 21:19] #102 closed

[2020-02-07 21:19] #104 closed

[2020-02-07 21:19] #105 closed

[2020-02-07 21:19] #110 closed

[2020-02-07 21:19] #115 closed

[2020-02-07 21:19] #124 closed

[2020-02-07 21:19] #126 closed

[2020-02-07 21:19] #127 closed

[2020-02-07 21:20] #143 closed

[2020-02-07 21:21] #150 closed

[2020-02-07 21:21] #160 closed

[2020-02-07 21:21] #170 closed

[2020-02-07 21:21] #172 closed

[2020-02-08 22:58] arvesolland commented on #97
Are there currently any way of getting the image handler to work with large images? Im getting errors on large files > 7MB + on all other browsers than Chrome.

Is there a workaround that would allow the generated file to be output into S3 and return the url instead?

[2020-02-09 19:56] bs-thomas opened #184 "Semantic File URLs"
After switching over from Thumbor to Sharp, the URLs become hashed jibberish.

I was wondering if there is (or will be) an option to have a more semantic URL for these files?

The reason I'm asking is really for having meaningful filenames, and hopefully a little advantage on SEO as well.

https://webmasters.stackexchange.com/questions/102419/converting-default-normal-filenames-to-a-random-string-

[2020-02-10 19:09] beomseoklee commented on #184
Thanks for your opinion, @bs-thomas
The solution is still supporting some Thumbor style URLs. You can refer to the implementation guide [Appendix D: list of Supported Thumbor Filters](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-d.html).

Would it be enough to answer your question or you actually need a new feature?

[2020-02-10 19:52] #159 closed

[2020-02-10 19:52] #120 closed

[2020-02-10 19:52] #107 closed

[2020-02-10 19:53] #103 closed

[2020-02-10 19:53] #99 closed

[2020-02-10 19:53] #141 closed

[2020-02-10 19:53] #176 closed

[2020-02-10 19:53] #163 closed

[2020-02-10 19:53] #175 closed

[2020-02-10 19:53] #167 closed

[2020-02-10 19:53] #149 closed

[2020-02-10 19:54] #109 closed

[2020-02-10 19:54] #131 closed

[2020-02-10 19:54] #142 closed

[2020-02-10 19:54] #154 closed

[2020-02-10 19:54] #129 closed

[2020-02-10 19:54] #116 closed

[2020-02-10 19:54] #114 closed

[2020-02-10 19:54] #125 closed

[2020-02-10 19:54] #106 closed

[2020-02-10 19:54] #119 closed

[2020-02-10 19:55] #112 closed

[2020-02-11 13:00] Lunteer opened #185 "CNAME and SSL removed on Update"
We updated to the latest version for the Cache-Control fix (Thanks), https://github.com/awslabs/serverless-image-handler/issues/107. Our issue is on CloudFront it removed the CNAME and SSL certificate. We fixed the issue by re-adding it (so no major deal) but wanted to know if there is a way to preventing this in the future?

Thanks again for this amazing template!!

[2020-02-11 13:55] bs-thomas commented on #184
Thanks for your prompt response @beomseoklee .

I understand that it supports the legacy Thumbor style URLs, but reading some previous issues it doesn't seem to be quite fully supported, and also thumbor's API and Sharp's API and methods seem very different.  In the long run in terms of sustainability, I feel that this structure is going to face some limitations and other unexpected issues.

I not

[2020-02-11 15:57] beomseoklee commented on #185
Thanks for reaching out to us @Lunteer
Did you use your own CNAME and SSL certificate on CloudFront distribution? I just want to make sure I'm with you. Previously, which version did you use?

[2020-02-11 16:12] #144 closed

[2020-02-11 17:35] Lunteer commented on #185
We used our own CNAME and a SSL certificate generated by AWS. We were up-to-date on the latest version of the template.

When we updated the template it simply removed the CNAME and SSL certificate in the setting of the Cloudfront distribution. This made fixing the issue simple (re-add the CNAME and ssl). It should be the settings are not adjusted on update.

Hope this help.

Get Outlook for Andro

[2020-02-12 00:38] beomseoklee commented on #185
Thanks for your detail, @Lunteer
Due to support WebP automatically, we've added "Accept" header at ForwardedValues of Amazon CloudFront distribution, and it causes the update of the distribution.

I have successfully reproduced your issue. Like you said, you can add more configurations before updating so that you don't lose your CNAME and SSL setting on your distribution.

[code]

As we don't orig

[2020-02-12 09:31] Lunteer commented on #185
Thanks so much for testing, confirmation, code solution and overall clarity of the issue. You are awesome!!

[2020-02-12 09:31] #185 closed

[2020-02-12 14:36] ahardin commented on #184
I would like to see this supported as well. Another reason is to allow CloudFront wildcard signed cookies.

In my scenario, all images are private. I would like to be able to generate a signed cookie for my users that grants access to the handler at a path like `/companyABC/*`. If I understand correctly, the only other 2 options besides signed cookies would be signed URLs (not practical when getti

[2020-02-13 16:53] sniprmonk4 commented on #183
@beomseoklee any idea when the next release will be? We are also seeing this issue and working on a temporary fix.

[2020-02-13 17:04] lithiumoxide commented on #168
Hi @beomseoklee. Our main concern is ongoing support for Thumbor-style requests. The URLs are generated dynamically by code in our CMS system, so the structure of the request URL must be known beforehand. Deviation away from Thumbor-style/version 3.1 filters can potentially end up with significant redevelopment work in our core product and in the website design for sites generated by our CMS.

[2020-02-13 17:09] TomasBelskis commented on #184
This is something that we would be interested in also, as we currently are forced to keep using version 3.1 as it still supports Semantic File URLs for the serverless image handler function.

I can see that version 4.* supports some of the Thumbor style URLs, but this doesn't guarantee the longevity of it? It would be just as much of a risk to migrate to 4.* and have the support removed in later v

[2020-02-13 17:22] ahardin commented on #184
I just switched over to using the legacy Thumbor format and they work fine and play nicely with signed cookies. But, I only need to do resizing, so very limited use case. And it's also worrisome that those could (and probably should) be pulled out in a future version.

@bs-thomas's suggestion of abstracting the URL format away from the underlying processing library is spot on. That's certainly the

[2020-02-13 21:43] beomseoklee commented on #183
@OBrown92 and @sniprmonk4

This is the beta version AWS CloudFormation template of the next release.
https://solutions-features-reference.s3.amazonaws.com/serverless-image-handler/v4.2.1-beta.1/serverless-image-handler.template

This beta release fixes 2 issues:
1) The solution can support ```0``` resize value (e.g. 0x300, 300x0, 0x0).
2) As Thumbor's default resizing algorithm is crop, I've chang

[2020-02-13 22:05] Furytron commented on #168
@lithiumoxide [according to the documentation](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-a.html) there is still limited legacy support for Thumbor style URLs. Only files in the root of the S3 bucket will be processed and files in any subfolder files will cause an error.

So you would have to ensure all files are uploaded into the S3 bucket root directory and of

[2020-02-13 22:17] Furytron commented on #184
The changing URL based on the underlying library and the hash in the URL is definitely an issue, especially for semantics and SEO. I would agree with @bs-thomas 's suggestion of abstracting the URL format from whatever library is being used. Keeping the Thumbor style URL from version 3.1 and allowing it in version 4.* could solve this problem. However, S3 bucket subfolders are not supported in ver

[2020-02-13 22:27] beomseoklee commented on #184
@Furytron actually the latest version, v4.2, supports image files in subfolder as a part of PR #130 . The document needs to be updated. I will ask to update the document.

[2020-02-13 23:21] lithiumoxide commented on #168
Thanks for that @Furytron. Unfortunately, we regularly deal with websites using thousands of images, and sometimes tens of thousands. Due to the nature of our use cases, image filenames are not required to be unique, which poses yet another problem with placing images in the root. It seems that v4 is significantly incompatible with what we require, but v3.1 did exactly what we need.

[2020-02-13 23:24] Furytron commented on #184
Thanks @beomseoklee thats good news. Is there plans for long term support of Thumbor? Or at least the URLs?

[2020-02-13 23:31] beomseoklee commented on #184
@Furytron we are going to support Thumbor style URLs as many of users actually use Thumbor style URLs.

But for the original topic, we will think about what would be the best way to support.

[2020-02-14 15:27] bs-thomas commented on #184
I also wanted to mention that the current "hashed" URLs are creating issues for my Javascript components.

My javascript component is a "file uploader", and after uploading, it will read the "extension" of the URL, and depending on the extension, decides if the uploaded DIV should display a thumbnail image (eg. PNG, JPG, GIF), or not (eg. PDF, DOCX, ZIP).  Without the extension, it is unable to de

[2020-02-15 01:49] beomseoklee commented on #184
Thanks for you guys comments all.
I've created a beta version which can include query strings on URL.

- Template URL: https://solutions-features-reference.s3.amazonaws.com/serverless-image-handler/v4.2.1-beta.2/serverless-image-handler.template

The supported filters are same as legacy Thumbor style, so you can refer to the [Serverless Image Handler documentation](https://docs.aws.amazon.com/solu

[2020-02-17 16:52] thadallender opened #186 "Using Versions/Aliases"
We need to make some modifications to version 4.1 of this package. In AWS Lambda, we've saved a new version as we don't want to modify the working version used in production.

How can use our new version 2 in our "staging" environment requests?

Is the only solution to deploy a new Cloudformation and modify test there?

[2020-02-17 17:42] beomseoklee commented on #186
@thadallender Thanks for contacting us.
May I ask you which "new version 2" you are talking about? Or do you want to update your AWS Lambda function with your own update?

[2020-02-17 17:46] thadallender commented on #186
Yes, I want to use my own code for “version 2” in Lambda.

[2020-02-17 17:49] beomseoklee commented on #186
@thadallender ,
The simplest solution is to execute ```npm run build``` at ```/YOUR_PATH/serverless-image-handler/source/image-handler```. Then you will see ```image-handler.zip``` file at ```/YOUR_PATH/serverless-image-handler/source/image-handler/dist```. You can upload that file to your AWS Lambda function.

[2020-02-17 18:16] thadallender commented on #186
Thanks. I understand how to update Lambda code. I don’t want Lambda to use $LATEST version. I need to use Lambda Versions/Alias feature to test my code and not just deploy to production.

How do we do this with this package?

[2020-02-17 21:00] beomseoklee commented on #186
Oh, sorry @thadallender I misunderstood your initial question. This would be the steps you can follow.

1. On the AWS Lambda function, ```<<YOUR_STACK>>-ImageHandlerFunction-<<HASH>>```, click "Public new version".
1. Click "Create alias", and create 2 aliases: DEV with $LATEST version and PROD with the version you created. You would see something similar to the below image.
![image](https://user-

[2020-02-17 21:14] Furytron opened #187 "Thumbor URL "filters" changes from 3.1.1 to 4.2"
Hi all,

I upgraded from 3.1.1 to 4.2 to begin some local testing since I found out that S3 paths could be followed in 4.2 for Thumbor URLs. I noticed that the supported URL format seems to have changed between the versions. Just wondering if this was something that was planned or a possible oversight or a bug maybe?

These URLs would have worked on 3.1.1. Notice that the filter rules are chained

[2020-02-17 21:27] beomseoklee commented on #108
@jasonobrown , sorry for the delayed response.
For your last question, I would say you can see "Popular objects" on Amazon CloudFront console.

[2020-02-18 00:47] beomseoklee commented on #187
Thanks for contacting us, @Furytron
I'm not sure the design decision of the chain filters in v4, but according to the source code, you need to have "filters" keyword for each filters, but it can be a good discussion with others regarding the chain filters.

For the second question, I can see that the below one causes the issue.
https://github.com/awslabs/serverless-image-handler/blob/19cbc3ce759d7

[2020-02-18 09:59] Furytron commented on #187
@beomseoklee Thanks for the quick reply!

Great to see that youve already figured out and fixed convolution issue. I thought I was going mad! I ran a couple of local tests with your fix and can see that removing the semi-colon will fix the issue. It will actually work in both circumstances with multiple "filters" keywords and with filter chaining. So that is great news!.

I would like to hear more

[2020-02-19 17:59] ianjamieson opened #188 "Cannot render images without file extensions"
I am using version 4.2 with no modifications.

**Given an image in S3:**

https://bucket.s3-region.amazonaws.com/imageWithNoExtension

I cannot access this image in via cloudfront: https://uniqueId.cloudfront.net/imageWithNoExtension

I get the error:

[code]

Also, I cannot use the Thumbor style syntax to resize this image: https://uniqueId.cloudfront.net/fit-in/100x100/imageWithNoExtension

I ge

[2020-02-19 18:13] beomseoklee commented on #188
Hi @ianjamieson , and thanks for contacting us.
It might be related to #169 as well, so we would think about it.

[2020-02-19 18:43] ianjamieson commented on #188
Hey @beomseoklee - yeh it looks similar, I have subscribed to the other thread.

[2020-02-19 18:44] ianjamieson commented on #169
I know there are linked issues, but just for prosperity I would like to highlight I have this problem here:

https://github.com/awslabs/serverless-image-handler/issues/188

We do not use file extensions in our S3 bucket.

[2020-02-20 03:16] avin-kavish opened #189 "Redundant Use of Promise"
Not that it's a problem but I don't think you need to return a promise out of an async function explicitly. Async functions always return promises.

https://github.com/awslabs/serverless-image-handler/blob/19cbc3ce759d7c8d8ddc35081972d7ac1daf0c71/source/image-handler/image-handler.js#L176

[2020-02-20 16:17] beomseoklee commented on #189
@avin-kavish , you are right, and thanks for your opinion. We would consider this one in the next release.

[2020-02-20 17:57] bs-thomas commented on #184
@beomseoklee Thank you very much for your prompt implementation of a beta.  Really appreciate it!

To be frank I haven't yet had a chance to try it out.  But I do notice one thing that may not be able to address.  (Or it could be that I have misunderstood something?)

Consider the following example:
"https://example.com/some/path/to/s3/example-file.jpg?m[]=flip(h)&m[]=rot(45)"

As you see, if I do

[2020-02-20 22:46] beomseoklee commented on #184
@bs-thomas I haven't tried the order of filters ([Thumbor flipping](https://thumbor.readthedocs.io/en/latest/getting_started.html#flipping-the-image) seems available with -0x-0 size, but we don't have this feature), but I'm sure that ```edits``` JSON object will have keys with query strings order, so what you are asking would be fine.

[2020-02-21 11:55] bs-thomas commented on #184
@beomseoklee Sorry maybe I wasn't so clear on my question.

The original topic in this issue was related to have some sort of "common interface" (regardless if it were Thumbor or Sharp) so it could be used as an abstracted interface for this image handler.

You have came up with the new beta implementation, which uses this format:
https://example.com/some/path/to/s3/example-file.jpg?width=300&heig

[2020-02-22 08:35] umkasanki commented on #31
We too are waiting for this feature to become available.

[2020-02-25 17:07] carles-codony-manomano opened #190 "Unable to use "fill" filter with thumbor URLs"
When using 'fit-in' or 'upscale' the default behavior is to use the fitting mode 'inside', which maintains the original image's aspect ratio without adding any pixels to the image canvas.

Because of this, the "fill" filter has no effect, since there's no extra image area to be filled.

fit-in urls by default don't use the "inside" fitting mode but "contain", could this be changed?

See examples i

[2020-02-25 18:15] beomseoklee commented on #190
@carles-codony-manomano thanks for your feedback.
You are right, and we will include this fix to the next release so that "fill" filter can have "contain" fitting mode.

[2020-02-25 18:20] beomseoklee commented on #184
@bs-thomas Thanks for your feedback again. Currently, every filter will be added in ```edits```, and if you provide same filter twice, it will overwrite the first one. For example, https://example.com/some/path/to/s3/example-file.jpg?width=300&height=300&filter:rotate(90)&filter:rotate(90) would return an image rotated by only 90 degrees.

I will look at the Thumbor filters more precisely so that

[2020-02-27 04:56] shortdoormedia opened #191 "V4 RewriteMatchPattern/RewriteReplacePattern examples for documentation"
Is there anywhere in the documentation where examples for some common rewrites could be added? For example what would the values be for:

Request:
https://dXXXXXX.cloudfront.net/old-folder/1400x1400/test/picks1.jpg
Rewrites to:
https://dXXXXXX.cloudfront.net/fit-in/1400x1400/test/picks1.jpg

Or:

Request:
https://dXXXXXX.cloudfront.net/large/test/picks1.jpg
Rewrites to:
https://dXXXXXX.cloudfront.

[2020-02-27 16:07] beomseoklee commented on #191
@shortdoormedia Thanks for contacting us. Unfortunately, we don't really have a strong documentation for rewrite feature other than [this one](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-f.html).

We would improve the documentation definitely.

[2020-02-28 07:08] Karlen92 commented on #188
I made this for me from latest version.
https://round2-ohio-us-1.s3.us-east-2.amazonaws.com/Archive.zip
You can try and see if it works for you. It's based on 4.2 version

[2020-02-28 18:50] ianjamieson commented on #188
@Karlen92 - that's great thank you. Are there significant changes? How about making a PR on this repo or forking this repo?

[2020-03-03 05:51] jhau commented on #179
do you have support for HK region?

[2020-03-03 07:32] JoeShi commented on #179
@jhau I added support for AWS Ningxia region and Beijing region. I will leave the question to @beomseoklee

[2020-03-03 07:52] jhau opened #192 "CloudFormation Error: CloudFront logs bucket doesn't exist"
I have deploy a custom build (I have not changed anything in the build apart from specifying the region) to a ap-east-1 bucket and when trying to deploy using cloud formation I get the following error,

The S3 bucket that you specified for CloudFront logs doesn't exist: imagehandler-logs-17wtb102tkcts.s3.amazonaws.com (Service: AmazonCloudFront; Status Code: 400; Error Code: InvalidArgument; Reque

[2020-03-03 16:03] beomseoklee commented on #192
@jhau I'm sorry for your inconvenience. Unfortunately, our solution does not support some of recently launched regions such as Bahrain (me-south-1) and Hong Kong (ap-east-1).

We will expand the solution to every region soon.

[2020-03-03 16:03] beomseoklee commented on #179
@jhau Unfortunately, our solution does not support some of recently launched regions such as Bahrain (me-south-1) and Hong Kong (ap-east-1).

We will expand the solution to every region soon.

[2020-03-05 11:50] vitalinfo opened #193 "Http response code: 413"
I'm having 2 weeks conversation with AWS support, but without any results, hope somebody here will help me figure out what is going on.

Initial problem: for some images I've receive `Internal server error` with `[ERROR] [1583405456446] LAMBDA_RUNTIME Failed to post handler success response. Http response code: 413.` on CloudWatch.

But, also I found today, that behaviour is much more odd, that I

[2020-03-05 16:26] beomseoklee commented on #193
@vitalinfo I'm sorry for your inconvenience.
I think the reason why you got 413 error is that your image size is pretty big, so it could exceed the [AWS Lambda's invocation payload limit](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

We will review the workaround or solution for this issue.

[2020-03-05 16:27] vitalinfo commented on #193
@beomseoklee image size is 693Kb
I can't understand why it does work in one case and doesn't in another

[2020-03-05 16:32] beomseoklee commented on #193
@vitalinfo Can you share the original image if you don't mind so that I can test exactly on the same page with you?

[2020-03-05 16:34] vitalinfo commented on #193
@beomseoklee of corse,
Images:
![ebcJ8R8jCHM8DJcW](https://user-images.githubusercontent.com/7523182/76002720-b55adb00-5f0f-11ea-8084-348f171ca9e2.png)

edits config:
[code]

[2020-03-05 16:41] beomseoklee commented on #193
@vitalinfo Oh, you increased the size of the image, and I can see that the output of the image became around 8MB with your edits. That's why you get the 413 error.

The workaround can be put the output image to an Amazon S3 bucket, and load the image from the bucket. We will think about the best way so that everyone would be happy.

Once again, I'm sorry for your inconvenience.

[2020-03-05 16:44] vitalinfo commented on #193
@beomseoklee thanks, will be great to have something like `fallback_image`

[2020-03-05 17:38] beomseoklee commented on #137
Hi all,

If anyone is still interested in the default image fallback, what kind of fallback image would be good for everyone? Please let us know so that we can think about this one.

[2020-03-05 17:38] beomseoklee commented on #193
The fallback image would be related to #137 , so please let us know your opinion for this one as well so that we can think of the best way for everyone.

[2020-03-05 18:36] rodrigofirpo commented on #137
@4ice sorry I didn't answer before. At the moment we have this functionality in stand-by (for other reasons)

However, even if @beomseoklee solution could help a lot of people (thanks for that), that is not our case, we need to set our company fallback image.

[2020-03-05 18:45] bs-thomas commented on #137
Maybe we can make this fallback image a specifiable "parameter"?

[2020-03-05 20:09] vitalinfo commented on #193
@beomseoklee I tried to do add new attribute to the params, like
[code]
and return origin image, if `fallback` has been defined
but as I understand, isn't possible to catch 413 error inside the lambda code

[2020-03-05 20:28] iredmedia commented on #56
Sorry to bump this, it's my first time deploying this I'm having some trouble understanding using multiple buckets. All I really need is resizing and/or formatting, so i suspect sharp should be fine.

Is it possible to utilize multiple buckets with sharp or the default deployment? I'm not seeing anything in the readme.

If not, what is the path forward to using multiple buckets?

[2020-03-05 21:23] beomseoklee commented on #56
@iredmedia if you are using v4 with Sharp, what you need to do is put the value with multiple buckets separated by commas to ```SourceBuckets``` parameter when you deploy the solution. For example, ```bucket-1,bucket-2,bucket-3```.

You can see the [implementation guide](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/deployment.html) to deploy the solution.

How many buckets

[2020-03-05 22:51] mberneis commented on #137
Yes still interested in a solution / passing a default image url as an optional parameter would be great. If data url would be supported
a 1 pixel invisible gif would be easy to pass as well

[2020-03-06 15:36] sav-valerio commented on #56
@beomseoklee I have 100-ish S3 buckets.
Specifying each bucket with commas is going to be painful.

Is there any way to choose multiple buckets using a prefix?
Thanks!

[2020-03-06 18:52] beomseoklee commented on #56
@sav-valerio with the latest version, if you have a certain prefix, here is what you can do.

Let's say that all of your buckets have ```source-bucket```, and you have ```source-bucket```, ```source-bucket-1```, ```source-bucket-2```, and so on.

After deploying the solution with ```source-bucket```, which should exist in your account, then you can go to the AWS Lambda console. Then, change ```SOU

[2020-03-09 11:56] amcfarlane commented on #184
I think even a way to 'escape' the hash so you can add your own filename would help here:

https://distributionName.cloudfront.net/base64encodedrequest

https://distributionName.cloudfront.net/base64encodedrequest/fileName.jpg

[2020-03-09 14:13] sav-valerio commented on #56
@beomseoklee Cool, it works.
I rather have the possibility to define a regex directly in the CloudFormation template, but this is better than nothing for sure.

Thank you!

[2020-03-10 11:49] vitalinfo commented on #193
@beomseoklee ping

[2020-03-10 22:27] beomseoklee commented on #193
@vitalinfo You are right. The error is generated by AWS Lambda itself, so it's hard to catch the error. The best way is to check the payload size, and if it's too big, then you can return fallback image before returning the result.

[2020-03-10 22:29] vitalinfo commented on #193
@beomseoklee do you mean `source/image-handler/image-handler.js` -> `modifiedImage` size?

[2020-03-10 23:53] beomseoklee commented on #193
@vitalinfo yes, or you can calculate ```processedRequest``` on ```source/image-handler/index.js```.

[2020-03-11 15:12] vitalinfo commented on #193
@beomseoklee Thanks
basically I've resolved my issue by add fallback image load handling on client side and add `withoutEnlargement` option to resize image config

I think we can close the issue

[2020-03-16 21:47] giovannipds commented on #114
@beomseoklee hi! I've updated the function on a project and noticed this change. Is there a way to update the urls to use the old `fit` behavior as `cover` or should I update the code Lamba's using? Thanks in advance!

[2020-03-16 22:33] giovannipds commented on #114
If anyone else wants the same I did, apparently it's possible to do that changing the line 59 of `thumbor-mapping.js` to fit `cover`.

[2020-03-17 04:42] bretto36 commented on #108
@hayesry  - We are having an issue with S3 consistency when updating an image, cloudfront sometimes still uses the old version when retrieving from the bucket.

{"bucket":"xxxxxxxx","key":"images\/catimg\/172.jpg","edits":{"resize":{"width":320,"height":320,"fit":"inside","withoutEnlargement":true}},"version":"**ff22345c3a39e0b46833b427210f67ad4fcaf14ca**"}

We currently pass the "Version" as a pa

[2020-03-17 04:57] bretto36 opened #196 "S3 Consistency with Image Updates"
Background: We upload images and store the hash of the image in our DB. We pass that hash (sha1) into the base64 encoded url to try and have it auto update when the image changes.

We've had a couple of issues where a customer updates the image and there is an almost instant request to the resized image. So the request has the new hash (sha1) in it's string, but when the lambda function runs it ge

[2020-03-18 12:30] SilverFoxA opened #197 "Images are automatically flipped when using serverless-image-handler"
I have an image already in AWS S3 bucket, which is exactly what it is and it's vertical. When I'm importing it to demo URL or using the endpoint URL it automatically gets flipped.

We are facing problem on our live server because of this, please suggest. We are using the latest version (4.2)

Image reference is added :

https://i.imgur.com/qwHu1cw.png

[2020-03-18 15:00] beomseoklee commented on #197
@SilverFoxA I'm sorry to hear you have an issue. It looks like the image on the preview side wasn't flipped. If I'm wrong, please correct me.

In addition, if you can share how I can reproduce, please let me know: 1) image file, 2) ```edits```.

[2020-03-18 15:03] beomseoklee commented on #196
@bretto36 Thanks for contacting us and sharing your concern. I'll try to reproduce the issue as you mentioned at #108.

[2020-03-18 23:10] shortdoormedia commented on #176
I am not sure this was fixed entirely. I have the following examples:

Works:
130A0364_320x213.jpg
130A0364320x213.jpg

Doesn't Work:
130A0364-320x213.jpg

[2020-03-18 23:26] shortdoormedia commented on #176
I think the issue is in the mapping regex. It views the path as "-400x400" dimensions

<img width="430" alt="Screen Shot 2020-03-18 at 6 24 18 PM" src="https://user-images.githubusercontent.com/61531750/77016516-daa30c80-6945-11ea-854f-26d17301dd31.png">

[2020-03-18 23:41] beomseoklee commented on #176
@shortdoormedia Do you use the resizing? For example, ```https://YOUR_URL/400x400/test-400x400.jpg```? If you don't, I guess -400x400 would be your resizing method which is not supported option (minus value).

[2020-03-18 23:51] shortdoormedia commented on #176
@beomseoklee we have a unique scenario where we are transitioning from an old CDN to a new one and have a flat directory with files containing names like /test-100x100.jpg. They were linked to statically without any resizing method.

What I have done is updated our lambda function to find a request uri without resizing and a path with dimensions and applying that as the fit-in. Deploying now to se

[2020-03-19 05:56] SilverFoxA commented on #197
Hello @beomseoklee

Hope you are doing well.
Thank you for your prompt response.

Actual Image:  https://i.imgur.com/s0I7rdN.jpg

But when I'm using serverless-image-handler and importing the file it gets flipped for no reason..
Does it have anything to do with the dimension?

[2020-03-19 15:30] beomseoklee commented on #197
@SilverFoxA
I tried to reproduce the issue, but I couldn't.

1) Original Image you provided
![image](https://user-images.githubusercontent.com/22212362/77084028-9d796180-69bb-11ea-8e03-76f26665ef1e.png)

2) Demo UI Preview
![image](https://user-images.githubusercontent.com/22212362/77084134-c4d02e80-69bb-11ea-82f4-30df75ba4d7d.png)

Would there be any other things that I can try?

[2020-03-20 05:11] SilverFoxA commented on #197
@beomseoklee Is it possible that you can share me any other means using which I can share with private credentials which you can view. I'll be able to share the endpoint URL.

[2020-03-27 09:28] Karlen92 opened #198 "Fit-in filter seems to remove transparent parts from png."
I use the 4.2 version of the solution. I have `.png` files wich contain transparent parts, but after using `fit-in`, the. new image loses it, how can I deal with this situation?

[2020-03-27 15:24] beomseoklee commented on #198
@Karlen92 I'm sorry to hear you had an issue. I've test with AWS png logo, and it's working with ```fit-in```. Can you share some detail so that I can reproduce the issue?

- Your source image if possible
- Full filters or setting you had. For example, ```fit-in/400x300/aws.png```

[2020-03-29 19:33] bs-thomas commented on #184
@beomseoklee

Once again really thanks for spending the time responding and covering my issue.  I've had a chance to try your new beta, but for some reason, it seems like the "rotate" and "grayscale" filters are not working here.  Please see this URL:

https://d1spq9esmard59.cloudfront.net/clients/codebase.beam.style-local/public-default/some-relative-directory-to-public-default/test.jpg?width=300

[2020-03-30 14:46] jaimemnds commented on #135
As of version version 4.1 it looks like this method of passing a `null` rotate filter doesn't work.
I'm facing the same issue where the EXIF orientation tag value is ignored and all the EXIF metadata get split off after the image goes through the Image Handler.
Does anybody have any tip for me to solve this issue?

[2020-03-30 15:12] beomseoklee commented on #184
@bs-thomas That was my mistake. It should be like this.

https://d1spq9esmard59.cloudfront.net/clients/codebase.beam.style-local/public-default/some-relative-directory-to-public-default/test.jpg?width=300&height=300&filter=grayscale()&filter=rotate(90)

[2020-03-30 15:17] beomseoklee commented on #135
@jaimemnds Did you mean even though you put rotate value, it does not rotate the image? Can you give me some examples?

[2020-03-30 15:56] jaimemnds commented on #135
@beomseoklee thanks for your reply.
I realized there was an error on my side, my edits JSON was formatted on a wrong way (I was putting the `rotate` entry inside the `resize`) 🤦‍♂.

The method of sending `rotate: null` works fine!

Thanks a lot for your attention and sorry for my negligence.

[2020-03-30 17:09] bs-thomas commented on #184
@beomseoklee Thank you very much!  That seems to work.

Btw, is it _really_ not possible to make the "filter=" "filter[]=" instead?

I use PHP, and because the query string is invalid (containing same key twice), calling this function to convert from array to query string returns the wrong output:

[code]

`width=300&height=300&filter=rotate%2890%29`

which is wrong, because it is missing "graysca

[2020-04-01 10:02] adrienne commented on #131
@georgebearden this still doesn't entirely work, and it's still set up to use the `overlayWith` parameter instead of `composite` (as per the code here: https://github.com/awslabs/serverless-image-handler/blob/master/source/image-handler/image-handler.js )

There is no documentation about this, and I personally can get a basic overlay to work but as soon as i try to add `{"options": { "top": 50 }}`

[2020-04-01 15:53] beomseoklee commented on #131
@adrienne Can you share the edits you used?

[2020-04-01 19:53] adrienne commented on #116
@georgebearden @beomseoklee - I am using the latest version and I still see the issue.

[2020-04-01 21:29] beomseoklee commented on #116
@adrienne Can you provide how you are using so that I can reproduce?

[2020-04-02 12:48] fabiovasini commented on #104
@ericquinones I wasn't using the "edits" key, now it's working. Thanks!

[2020-04-03 00:57] buccfer opened #199 "Question: Why not using Lambda@Edge?"
Hi! Hope you're doing well.

I've got a question regarding the architecture of the solution. Is there any reason why you are using API Gateway + Lambda to process the images instead of Lambda@Edge with origin request?

I ask this since we are trying to use this solution for private purposes, and for that we need a custom authorizer for API Gateway, in addition to force CloudFront usage through sig

[2020-04-03 05:15] bs-thomas commented on #199
This was also one of the questions I wanted to ask too.

[2020-04-06 08:17] adrienne commented on #116
@beomseoklee

Here's an example of something that doesn't work. I get a webp image regardless of `"outputFormat"` .

[code]

[2020-04-06 13:02] martin opened #200 "Stop delivery of WebP images"
Hi.

We are using the current template v4.2. When updating the stack we had temporarily activated the AutoWebP parameter.

But since we don't need this function, we deactivated it again. For this I clicked "update" and select "use current template", but in the next step I set "AutoWebP" to "No".

Nevertheless we still get images in WebP format. Can anyone confirm this behaviour? We have deleted th

[2020-04-06 16:26] beomseoklee commented on #200
@martin Sorry for your inconvenience. Currently, there's a small bug related to what you explained.

https://github.com/awslabs/serverless-image-handler/blob/19cbc3ce759d7c8d8ddc35081972d7ac1daf0c71/source/image-handler/image-request.js#L289-L300

You can fix this one to the below source code, and then you can upload the rebuilt zip file to your Lambda function.
[code]

Once again, I'm sorry to he

[2020-04-06 16:37] beomseoklee commented on #116
@adrienne

Currently, there's a bug related to webp, and you can see how to fix at https://github.com/awslabs/serverless-image-handler/issues/200.

Meanwhile, can you try the below one?
[code]

[2020-04-06 16:38] beomseoklee commented on #199
@buccfer

Thanks for your idea, and we will let you know after considering this one.

[2020-04-06 22:39] adrienne commented on #200
@beomseoklee - I don't actually know how to fix this via the zip file. I installed this through the automated installer and I'm not actually super familiar with how to make changes?

[2020-04-07 09:59] Karlen92 commented on #197
@SilverFoxA I had a similar issue when working with `react-native`, the problem was connected not to image handler but with the image itself. The issue was caused by wrong `exif` information, which was included with the image.

This link can be helpful
https://github.com/GoogleChromeLabs/squoosh/issues/299

[2020-04-07 10:03] Karlen92 commented on #198
@beomseoklee The issue was not connected to the image handler, it's working correctly now.
Thanks for the response.

[2020-04-07 10:03] #198 closed

[2020-04-07 11:49] SilverFoxA commented on #197
@Karlen92 How did you sort this? But when we are using the webserver file, everything seems fine, we are focused on the AWS Javascript SDK.

[2020-04-07 14:55] Karlen92 commented on #197
@SilverFoxA In my case, when the image contained `exif` information, I simply compressed it with no quality loss(which didn't touch image quality, it just created a new image). In backend, you can use `jimp` to resize your image (it would be fake resize, use the same dimensions as the image have), maybe that would help.

[2020-04-07 17:27] beomseoklee commented on #200
@adrienne I'll provide you the easiest way. You can update your stack with the below beta version which includes the fix and some other features.

https://solutions-features-reference.s3.amazonaws.com/serverless-image-handler/v4.2.1-beta.2/serverless-image-handler.template

[2020-04-07 19:05] atrope opened #203 "Security(Tampering encoding) in Old and New URLs"
Hi All,
I've implemented old thumbor feature of having a hash on each url.
It works on old urls (thumbor format) and also new urls base64 encoded(I've added the parameter "hash" to the object).
I Got the base function from the PR here: #111 (thanks to @soupy1976)
I've implemented in a rush, so it is not ready for PR yet but I was thinking if there is a need to make a proper PR or is it a thing tha

[2020-04-08 01:02] adrienne commented on #116
@beomseoklee - i had to switch to using your above code (with `toFormat` *inside* the `edits` key) *and* update to the beta version of the template, but this is now working. (Using `outputFormat` alone does *not* work, even on the new beta version of the template.)

[2020-04-08 05:59] beomseoklee commented on #116
@adrienne Can you check 2 things?
1. Can you verify your ```AutoWebP``` parameter is ```No```?
1. Can you run CloudFront distribution invalidation, then access the URL again?

[2020-04-09 07:21] MidnightDesign opened #204 "502 error when using non-encoded URLs and no Accept: image/webp"
When I try to retrieve an image without modifications using https://&lt;distribution&gt;.cloudfront.net/&lt;s3-key&gt; in Chrome, it is served just fine (in WEBP format), but when I try to do the same thing in Safari, I get an HTTP 502 response with the following body: `{"message": "Internal server error"}`.

This seems to be related to the `Accept` request header; when I change it from Chrome's d

[2020-04-09 15:42] beomseoklee commented on #204
@MidnightDesign I'm sorry to hear you had an issue. Can you share more details about the error (CloudWatch Logs) and how I can reproduce the issue? I've tried with simple jpg file on Safari and Chrome, and both worked.

[2020-04-09 16:49] MidnightDesign commented on #204
@beomseoklee Thank you for the quick response.

First of all, I just tried it with another image and it worked just fine; _with_ the `image/webp` header, I get the WEBP file, _without_ it I get the (original) PNG.

But the original image still doesn't work.
In the `ServerlessImageHandler-ApiLogs-...` log group I get the message `81.217.15.245 - - [09/Apr/2020:16:39:47 +0000] "GET /{proxy+} HTTP/1.

[2020-04-11 18:40] mberneis opened #205 "Performance Issues on V 4.2"
I noticed a degrade in performance going from Version 4.1 to Version 4.2

(No WebP enabled - Querystring Cache breaking enabled in cloudfront)

V 4.1:
https://d147ewtskziry6.cloudfront.net/eyJidWNrZXQiOiJuYW5vY2hpcC1wZXQtcGljdHVyZXMtZGV2Iiwia2V5IjoiUGV0UGljXzEyMzMyMTEyMzMucG5nIiwiY2FjaGUiOiIxNTg2NjE5MjM1IiwiZWRpdHMiOnsicm90YXRlIjpudWxsfX0=?some_random_number

V 4.2:
https://d1bpkp55zv2eya.cloudfro

[2020-04-13 17:44] walhallyus commented on #200
@beomseoklee I have the same issue, images are served as webp, I was able to force them to jpeg with "toFormat":"jpeg" parameter on edits and worked, but now I have also added "jpeg":{"quality":100,"chromaSubsampling":"4:4:4"} and I'm getting internal server error response.
I have updated servces to 4.2.1-beta.2 template but still getting {"message": "Internal server error"}

Here is my json confi

[2020-04-14 00:14] beomseoklee commented on #200
@walhallyus Do you have more specific logs on your CloudWatch logs?

[2020-04-14 00:26] gcarrion-gfrmedia opened #206 "Empty json object is returned randomly with a content-type: application/json instead of image"
We're using this AWS Solution for Serverless Image Handler that uses AWS Lambda for resizing images (https://aws.amazon.com/solutions/serverless-image-handler/)

We've encountered some random issue where the images are not generated and instead an empty json object is returned with a content-type: application/json and status code 200.

The problem is that the CloudFront distribution then caches th

[2020-04-14 00:35] djavier commented on #206
👍

[2020-04-14 03:26] beomseoklee commented on #206
@gcarrion-gfrmedia Can you check the CloudWatch logs?

[2020-04-14 06:29] MidnightDesign commented on #204
@beomseoklee Can you deduce anything from that?

[2020-04-14 06:39] MidnightDesign commented on #204
This seems to be somewhat cache-related.

If I request an image first with the `image/webp` header, then the 502 is returned on subsequent requests _without_ it.

If I request an image first _without_ the header value, subsequent requests work both with and without it.

[2020-04-14 09:49] martin commented on #200
Thanks @beomseoklee. I run the beta template in a new stack. AutoWebP is disabled.

But the response headers look like this:
- **Content-Type:** _image/webp_
- **Date:** Tue, 14 Apr 2020 09:27:26 GMT
- **Last-Modified:** Tue, 24 Mar 2020 06:42:02 GMT
- **X-Cache:** Miss from cloudfront

The file command means it's a JPEG. So only the Content-Type is still wrong. With version v 4.1 i get the conten

[2020-04-14 13:45] jcebuck commented on #200
@beomseoklee thanks. If we run off this stack can we update to the stable channel when it is released - quite seamlessly?
What if we've made updates to the Lambda functions? I guess we just have to re-apply them after updating?

[2020-04-14 16:04] beomseoklee commented on #204
@MidnightDesign I guess Lambda 413 is related to the payload size.
Would you mind sharing the original image and edits you used?

[2020-04-14 16:07] beomseoklee commented on #200
@jcebuck If you have changed anything on your Lambda functions and you deploy the update, your Lambda functions source code would be replaced to the update, which means you would lose what you have customized, so you can re-apply them after updating as you mentioned.

[2020-04-14 16:08] beomseoklee commented on #200
@martin Can you share the edits you used if it is possible to share?

[2020-04-14 16:52] WeAreHaus opened #207 "Regex Source Buckets"
I read [here](https://github.com/awslabs/serverless-image-handler/issues/56#issuecomment-595908842) about setting regex to allow multiple buckets as source. Exactly what I was looking for.

When deploying, files from the standard bucket works fine but I just can't get it to work with the regex source buckets.

What's the expected url:s to access files from different buckets?
Do I need to edit my T

[2020-04-14 17:32] walhallyus commented on #200
I have:
'LAMBDA_RUNTIME Failed to post handler success response. Http response code: 413.'
and
'The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to the documentation for additional guidance on forming image requests.'
But this is w

[2020-04-14 18:22] beomseoklee commented on #207
@WeAreHaus Thanks for contacting us.

This can be the step to have regular expression for bucket name.
1. When you deploy the solution, you need to make sure you put the existing bucket name on CloudFormation parameter.
1. When the stack is completely created, you can change ```SOURCE_BUCKET``` to regular expression like ```myBucket.*``` on your Lambda environment.
1. Then, you would be able to us

[2020-04-14 18:22] beomseoklee commented on #205
@mberneis Thanks for your observation. I'll take a look at what would cause more latency on v4.2.

[2020-04-14 18:28] beomseoklee commented on #200
@walhallyus
```'The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to the documentation for additional guidance on forming image requests.'``` would be from ```favicon.ico``` if you accessed from browsers.

Generally, 413 error is re

[2020-04-14 22:31] gcarrion-gfrmedia commented on #206
Hi @beomseoklee! Thanks for the reply.

I've looked around CloudWatch and this is what I've found:
![image](https://user-images.githubusercontent.com/1675923/79279465-1c0ed500-7e7c-11ea-810b-b5c2b3ea58a2.png)
![image](https://user-images.githubusercontent.com/1675923/79279477-216c1f80-7e7c-11ea-9539-6cd981ed3d4f.png)
![image](https://user-images.githubusercontent.com/1675923/79279485-2630d380-7e7c

[2020-04-15 05:43] WeAreHaus commented on #207
Ok thanks,
What's  the url supposed to look like?

Before changing to regular expression this works fine:

`https://xxx.cloudfront.net/fit-in/200x200/img.jpg`

But after none of these works, is this the correct url structure?

`https://xxx.cloudfront.net/fit-in/200x200/img.jpg`
`https://xxx.cloudfront.net/fit-in/200x200/bucket1/otherImg.jpg`
`https://xxx.cloudfront.net/fit-in/200x200/myBucket-buck

[2020-04-15 09:29] bs-thomas commented on #200
@beomseoklee  Interestingly, I'm getting the exact same error as @walhallyus

Can you check this image for me please @beomseoklee if possible?  Not sure how to check this.
![test-png](https://user-images.githubusercontent.com/2464920/79321833-85efb300-7f3e-11ea-9e63-4f2b5217a176.png)

My question also is, why would the image affect payload size?  It's grabbing from S3, right?  I tried a 30MB JPG,

[2020-04-15 10:31] walhallyus commented on #200
@beomseoklee i have tested with large images and I get `"message": "Endpoint request timed out"`
here is the picture:
![IMG_20200408_194147](https://user-images.githubusercontent.com/4601890/79327440-203eff00-7f1d-11ea-90b6-ac307c454dbb.jpg)
json:
{"bucket": "mu-bucket","key": "IMG_20200408_194147.jpg","edits": {"withMetadata":true,"normalise":true,"sharpen":true,"toFormat":"jpeg","jpeg":{"quality

[2020-04-15 14:24] Furytron opened #208 "Thumbor paths broken if they include "-" and "100x100""
Hi All,

Hope someone can help me with this one. I've got v4.2 deployed and we have stumbled onto an odd issue. I've looked at the open and closed tickets and could only see [163](https://github.com/awslabs/serverless-image-handler/issues/163) which might be related but is not the same.

When an S3 key has a hypen "-" and is then followed by two numbers that are separated by (lowercase) "x" either

[2020-04-15 14:43] jcebuck commented on #200
@walhallyus Do you get a 413 error or `Endpoint request timed out`?

Does this also happen with small or normal sized images?

[2020-04-15 15:27] beomseoklee commented on #207
@WeAreHaus Are you using Thumbor style? If so, unfortunately, regex source buckets would not work.

[2020-04-15 17:49] WeAreHaus commented on #207
Yes I was, I tried base64 url:s now and it works as expected. Thanks for the help!

[2020-04-15 17:49] #207 closed

[2020-04-15 18:47] walhallyus commented on #200
@jcebuck if I use large images(40mb) I get `"message": "Endpoint request timed out"`

If I use the image attached in my previous message I get
`'LAMBDA_RUNTIME Failed to post handler success response. Http response code: 413.'`
This is an image from google photos account.. what i have noticed that all images from google photos are not working. If I use some images from unsplash or image that @bs-t

[2020-04-16 03:50] jcn commented on #184
@beomseoklee With this new style of URL, would it then be possible to support multiple buckets while building the filters in the URL. Perhaps by passing a `bucket` parameter, if it's not possible to parse the bucket name from the path itself?

[2020-04-19 18:47] shortdoormedia commented on #208
I am not sure if it is the exact same issue but i was having trouble with file names that included any dimensions. See my post here: https://github.com/awslabs/serverless-image-handler/issues/176#issuecomment-600911197

I had to add a lambda function in order to convert the uri requests into something that was consumable.

[2020-04-20 03:26] dexcell commented on #135
@mberneis
Thanks for the magic `rotate` null
This thing should be documented on site/front page, it's so important.

[2020-04-20 08:16] Furytron commented on #208
Thanks @shortdoormedia for the reply and link to your issue. I knew there had to have been an issue logged like this. I just missed it.

So it appears from that thread that the issue was only partially fixed.

I'm not 100% sure I understand that comment you have linked from @beomseoklee, he appears to say that its not supported having files with those names.

In my case, the image in the S3 key: h

[2020-04-20 10:39] MidnightDesign commented on #204
Here you go: https://d3p0lb6nhbndhk.cloudfront.net/keepersport/KS406/KS406-D2.png

I'm not using any edits in this case. I'm expecting lambda to just forward the original image.

[2020-04-20 14:00] shortdoormedia commented on #208
In your case it's trying to grab an image dynamically sized at: -160x106. The function/bug only grabs the first instance of dimensions from a uri request string.

You need to re-write your request to:
https://test.cloudfront.net/fit-in/100x100/test/test-100x100.jpg

[2020-04-20 14:14] Furytron commented on #208
@shortdoormedia

Just to note that I am not actually applying any filters when I request
https://test.cloudfront.net/test/test-100x100.jpg. I haven't even applied filters yet.  The "-100x100" is just in the name of the file, I don't want anything to be resized or changed.

[2020-04-20 15:21] beomseoklee commented on #208
@Furytron I'm sorry to hear that you experienced an issue with Serverless Image Handler. I have reproduced this one, so we will be back soon for this issue.

[2020-04-20 15:28] beomseoklee commented on #206
Thanks for your information @gcarrion-gfrmedia
However, it's impossible to say what would go wrong without CloudWatch log, but I'll try to reproduce the issue.

[2020-04-20 15:44] Furytron commented on #208
Thanks @beomseoklee !

[2020-04-21 11:56] omar-dulaimi opened #210 "Is there any way to handle 404 errors? (non existent image)"
Hello,
Is there any way to handle 404 errors before they get to the frontend? It's really important for us not receive them. Like requesting to resize an image that doesn't exist or getting an image it was incorrectly uploaded in the past and therefor not being an image rather a dat file.

[2020-04-21 16:38] beomseoklee commented on #210
@omar-dulaimi Serverless Image Handler will throw 404 at here.
https://github.com/awslabs/serverless-image-handler/blob/19cbc3ce759d7c8d8ddc35081972d7ac1daf0c71/source/image-handler/image-request.js#L99-L105

If you want to handle 404 as anything other, you can change that part.

[2020-04-22 05:03] eltonjothi commented on #131
same here..
this is what i used
`{
  "bucket": "bucket_name",
  "key": "img_key",
  "edits": {
    "overlayWith": {
      "bucket": "bucket_name",
      "key": "img_key",
      "options": {
        "top": 30,
        "left": 30
      }
    }
  }
}`

[2020-04-22 05:28] eltonjothi commented on #131
i can confirm options.top and options.left is returning blank page with {}

current i am using the gravity option
`{
  "bucket": "bucket",
  "key": "key",
  "edits": {
    "overlayWith": {
      "bucket": "bucket",
      "key": "key",
      "options": {
        "gravity": "east"
      }
    }
  }
}`

[2020-04-22 08:54] eltonjothi opened #211 "Text watermark"
I have a requirement for adding watermark to the images uploaded by user.
is there a posible way to do this in aws image handler.
https://github.com/lovell/sharp/issues/1120

[2020-04-22 16:07] beomseoklee commented on #131
@adrienne and @eltonjothi
Thanks for waiting, and I found what causes an issue. I will add the fix to the next release.
Once again, thanks for your inputs, and I'm sorry for your inconvenience.

[2020-04-22 17:14] beomseoklee commented on #211
@eltonjothi Thanks for contacting us. Let me figure it out if there's a way to do this one or not.

[2020-04-23 09:18] eltonjothi commented on #211
Thank you @beomseoklee,
However, i was able to achieve this by creating a custom image handler function and deploying to Lambda.
Code, looks something like this
`if (key === 'TxtWatermark') {
                const { options } = value;
                const { name = ''} = options;
                const watermark = new Buffer(`<svg height="30" width="200">
  <text x="0" y="15" fill="red">${name}</te

[2020-04-27 13:04] MidnightDesign commented on #204
Ping @beomseoklee

[2020-04-27 16:46] beomseoklee commented on #204
@MidnightDesign I'm sorry for the late response. I've tested this one, and I can confirm that this is related to the response body size.

Using WEBP format, the response body size was about 188,068 bytes. However, with pure PNG format, the response body size was about 6,852,680 bytes which is bigger than [AWS Lambda's limit](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

[2020-04-28 15:13] Furytron opened #212 "Support for Thumbor "bmp" images"
When using a "bmp" image I get the following error, so I assume its not supported just like [gifs](https://github.com/awslabs/serverless-image-handler/issues/155)

Error
[code]

An example URL:
https://test.cloudfront.net/filters:grayscale()/media/lena_gray.bmp

Can support be added or should this already work?

[2020-05-04 05:09] beomseoklee commented on #205
Thanks for waiting, @mberneis

I figured out that the performance is because of changing output format to ```webp```. Currently, v4.2 has a broken source code to enable automatic ```webp```, so every file is converted to ```webp``` no matter what parameter you provided.

I found that converting the output format to ```webp``` takes a long time: around 2s. As a result, overall performance has been

[2020-05-07 02:38] leochiu-work commented on #181
I faced the same error while using Lambda Runtime NodeJs 12.x

I fixed by following.
1. Delete the cache and node_module first . `rm -rf ~/.npm/_libvips` , `rm -rf node_modules`
2. in `package.json`, add --target=12.13.1 to the line
`"build": "npm run build:init && npm install --arch=x64 --platform=linux --production --target=12.13.1 && npm run build:zip && npm run build:dist"`
3. run `npm run bui

[2020-05-08 00:03] ferarnoled opened #213 "Allow CORS for multiple websites"
Can we add CORS for multiple websites? Just comma separated values would be great (unless that's supported already?)
Thanks

[2020-05-08 03:34] beomseoklee commented on #212
Thanks for contacting us again @Furytron
Currently, it blocks when file extension is not either of jpg, png, tiff, and webp.
We would consider if we can add bmp supporting in the next release.

[2020-05-08 03:38] beomseoklee commented on #213
Thanks for contacting us @ferarnoled
Unfortunately, multiple CORS is not supported currently, but we would think how we can support the multiple CORS in the next update.

For example, we could check if origin is in the multiple CORS websites or not, and if the website is in the configuration, we can pass ```Access-Cortrol-Allow-Origin``` header.

[2020-05-08 11:48] lanlin opened #214 "How could i crop an image to circle?"
I want to crop an image to the circle so that I can use it as an avatar, how to do this?

[2020-05-08 16:11] beomseoklee commented on #214
Thanks for contacting us @lanlin
Currently, the solution does not support that, so you might need to implement this one by yourself.

For example, this is a very simple example which only supports square images making circle.
[code]

And you can create encoded URL with:
[code]

This will provide you something like this.
![image](https://user-images.githubusercontent.com/22212362/81424505-ecfe2300-

[2020-05-09 01:01] lanlin commented on #214
@beomseoklee thanks very much. Would you please add this feature in the next release?

[2020-05-11 07:23] lanlin opened #215 "Is there a way to save cropped result to s3 bucket?"
I want to save the result to a bucket after cropped an image, is there any way to solve this?

[2020-05-11 07:23] #214 closed

[2020-05-11 11:28] lanlin commented on #215
resolved.
for someone that has the same question:

[code]

[2020-05-11 11:28] #215 closed

[2020-05-12 06:58] hemantshekhawat commented on #199
@beomseoklee any updates ?

[2020-05-20 00:33] kkopachev commented on #199
Lambda@edge has some significant limitions - quotas: https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html#limits-lambda-at-edge
small response size in particular.

[2020-05-22 16:58] buccfer commented on #199
Thanks @kkopachev .. it seems 1 MB limitation is not a good fit for files.

[2020-05-22 16:58] #199 closed

[2020-05-26 13:34] haoujey opened #216 "circular crop"
Hello,

I can't find how to crop circular images. Is there a mask or a function to do that ?

thanks

[2020-05-26 13:37] haoujey commented on #214
Where this code should be implemented ?

[2020-05-26 22:35] omar-dulaimi commented on #210
Thank you @beomseoklee

[2020-05-26 22:35] #210 closed

[2020-05-26 23:10] beomseoklee commented on #214
@haoujey You can implement that part in ```image-handler.js``` after ```smartCrop``` if statement.

[2020-05-26 23:11] beomseoklee commented on #216
@haoujey I believe you can see #214 for a simple example.

[2020-05-27 10:32] haoujey commented on #214
thanks ! :)

[2020-05-28 04:46] khajaordant commented on #31
We are  getting same error in cloudfront

https://d1ftxo8vu8pjv4.cloudfront.net/Icons/5ecf3f7111383e0f7e6e0504.svg

Url says

`{"status":400,"code":"RequestTypeError","message":"The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to t

[2020-05-28 19:20] adrianosmateus opened #217 "502 when try resize/fit-in"
I have a file what, if i increase just 1 pixel at the fit-in/resize, the request just break.

The maximum file size i can get working is with this url: https://dxemhjekrc4z1.cloudfront.net/fit-in/0x955/uploads/images/20200521/image_20200521155807_26194.png

If i try anything higher than 955, i just cant have my image file.

Example: https://dxemhjekrc4z1.cloudfront.net/fit-in/0x956/uploads/images/

[2020-05-28 20:23] beomseoklee commented on #217
@adrianosmateus I am sorry to hear you faced an issue.

I guess the payload size is bigger than 6MB, so the Lambda cannot return the result. Instead, it throws an error. Please see [AWS Lambda limits](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

We are considering how to deal with the large size image, and we put it to our backlog item. Once the solution is updated, I

[2020-05-30 18:35] dzucconi opened #219 "Documentation on `edit` payload format"
While the [demo UI](https://github.com/awslabs/serverless-image-handler/blob/19cbc3ce759d7c8d8ddc35081972d7ac1daf0c71/source/demo-ui/scripts.js) is a great resource for getting a sense of the payload format, there's some things notably missing: format/quality, sharpen, blur, etc... I'm wondering if there's some more comprehensive documentation I'm missing?

[2020-06-01 23:29] beomseoklee commented on #219
@dzucconi Thanks for contacting us. As Serverless Image Handler is using sharp, you can visit [sharp website](https://sharp.pixelplumbing.com/) to see what options are available.

Every sharp function can be ```key``` inside the ```edit``` payload, and you can put value of the key. For example,

[code]

This would return gray quality 50 png image of the original image.

[2020-06-02 13:47] dzucconi commented on #219
Thanks!

[2020-06-02 13:47] #219 closed

[2020-06-04 13:03] piecedata commented on #203
Hi @atrope, it will be cool if you can share this. Thanks

[2020-06-08 09:53] vitalinfo commented on #193
@beomseoklee
I've faced with new problem
I've an image:
<img width="984" alt="Screen_Shot_2020-05-30_at_12 36 34_PM" src="https://user-images.githubusercontent.com/7523182/84016967-b83def80-a986-11ea-88de-5924d0a99961.png">
and when I try to apply such edits
[code]
it crashed with 413 error
any ideas how to prevent such crashes?
thanks

[2020-06-08 15:26] beomseoklee commented on #193
@vitalinfo 413 error is related to AWS Lambda's limit. AWS Lambda's invocation payload limit is 6MB, so if the payload is larger than 6MB, it will throw 413 error. You can refer to [AWS Lambda limits documentation](https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html).

For this issue, you cannot catch in the source code. Therefore, you might need to check the payload size first

[2020-06-09 21:23] alexnavaga commented on #197
@SilverFoxA  You may have already figured this out, but we had to set the rotate parameter to null.

"edits": {
               "rotate": null,
               "resize:  {
                ...
             }

#135

[2020-06-09 21:33] alexga12 commented on #168
Quick question, is there a limit as to how many buckets can be used in the SourceBuckets parameter?

[2020-06-09 21:37] alexga12 commented on #197
@SilverFoxA Are you having the same issue as #135 ?

[2020-06-11 11:52] vitalinfo commented on #193
HI @beomseoklee , looks like problem is much trickier than just check payload size
f.e. I have 2 images, wich pretty much equal size
<img width="1009" alt="Screen Shot 2020-05-30 at 12 36 27 PM" src="https://user-images.githubusercontent.com/7523182/84382191-fb9c9600-abf2-11ea-9a09-8bf15ed80fc8.png">
![4_20mb](https://user-images.githubusercontent.com/7523182/84382203-022b0d80-abf3-11ea-88fb-32f60

[2020-06-12 00:07] bretto36 commented on #196
We ended up storing the image name as the hash/md5 value eg d248d8800ff451aa60ea81054f8b3585e512fae5.jpg

Still having an issue now where the S3 source bucket image is different to the image that is being returned. Even doing an invalidation and recreating the image doesn't seem to update it.

Our S3 CDN
https://d347awuzx0kdse.cloudfront.net/amarkgroup/images/catimg/d248d8800ff451aa60ea81054f8b358

[2020-06-12 00:07] #196 closed

[2020-06-12 00:30] bretto36 opened #220 "EXIF Data can cause output to be wrong orientation"
I have an image that has an Orientation in the exif data  -

Orientation | Rotate 90 CW

Our S3 CDN - Source Image - is auto rotated due to exif data
https://d347awuzx0kdse.cloudfront.net/amarkgroup/images/catimg/d248d8800ff451aa60ea81054f8b3585e512fae5.jpg
Our Serverless Image Handler CDN - shows the image in the real orientation due to exif data not being added
https://d1mv2b9v99cq0i.cloudfront.

[2020-06-12 00:41] bretto36 commented on #220
I've looked into sharp methods and calling rotate() with no parameters can fix the issue.

But i can't figure out how to call rotate() without a parameter when passing the base64 encoded json array.

`$array = array(
    "bucket" => "my bucket",
    "key" => "myimage.jpg",
    "edits" => array
        (
            "resize" => array
                (
		    **"rotate" => null,**

[2020-06-12 03:27] #220 closed

[2020-06-13 20:33] abhisheksoni27 opened #221 "Signed URLs - Preventing attackers"
Is it possible to use Signed URLs or a query parameter that can be passed and verified by Lambda? I am aware this is possible if I were to directly serve the image via S3.

If it is not possible, what do you recommend any potential business to do, so that their image keys are not left in the open?

Even if we make the keys as such they are non-iterable, it still cannot prevent a potential attacker

[2020-06-16 10:52] jcurbanzoostudios opened #222 "v4.0 to v4.2"
Hi,

I'm currently running v4.0 of the image handler on a website using this URL structure (the domain is fake):

https://sub.myimages.com/300x300,contain/filters:quality(20)/fa2a2880-9c13-11ea-a43b-4d8d216c9af0.jpg

I've now spun up the same infrastructure on a new AWS account and I'm forced into using version 4.2 due to nodejs8.10 no longer being supported.

When I now run the same query string:

[2020-06-18 13:31] ianjamieson commented on #188
Thanks @Karlen92

[2020-06-19 22:37] beomseoklee commented on #222
@jcurbanzoostudios Thanks for contacting us.
I've installed v4.0 by myself (updating Lambda Node JS version and Sharp version to make it work), but I failed to reproduce your issue. I was not able to render with the following path on v4.0:
```300x300,contain/filters:quality(20)/MY_IMAGE_FILE.jpg```

I guess what you are trying to achieve is to make image 300x300 no matter how big the original imag

[2020-06-19 22:55] beomseoklee commented on #221
@abhisheksoni27 Thanks for contacting us.
I understand your security concerns. Just rough idea would be to provide query strings to sign CloudFront URL. Current version does not support to cache query strings unfortunately.

We will add this one to the back log item and consider how we can deliver this one to the customer.

[2020-06-21 10:35] c0de-nat0r opened #223 "Dependency Deprecation"
Hi I was trying to implement this solution when I encountered the following error:

npm WARN deprecated mkdirp@0.5.4: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)

[2020-06-22 11:59] gmarchand commented on #221
Hello

My customer is already using Serverless Image Handler in production, with the Thumbor version. He would want to migrate to the last version with NodeJS but the "signed urls" feature is not yet available.

Could it be possible to implement this feature and the retro compatibility with Thumbor : https://thumbor.readthedocs.io/en/latest/security.html

Here is an example of url : https://images

[2020-06-22 22:34] beomseoklee commented on #223
@c0de-nat0r Did you get that warning when you install packages?
The solution itself does not use ```mkdirp```, and I looked up this one, and ```sharp``` is dependent to ```mkdirp@0.5.x```.

I don't think we can fix this one by ourselves.

[2020-06-23 08:31] c0de-nat0r commented on #223
Hi Beomseok,

Yes I received the warning whilst trying to install the packages see
screenshots attached

Kind Regards,

Nathan Shava
LinkedIn: https://www.linkedin.com/in/nathan-t-shava-0a9690b8/

On Tue, Jun 23, 2020 at 12:34 AM Beomseok Lee <notifications@github.com>
wrote:

[2020-06-24 06:35] WeAreHaus opened #224 "Source image outside of aws?"
Is it in any way possible to call a image path that is not in a bucket but as a external url?

[2020-06-24 19:04] emeagenciadigital commented on #131
Is this working now ?

[2020-06-24 19:08] emeagenciadigital commented on #131
Did you manage to make it work and how ? Thanks !

[2020-06-24 22:36] beomseoklee commented on #131
@emeagenciadigital Thanks for reaching out to us. Unfortunately, we haven't released the update. Once it's done, this issue would be fixed.

[2020-06-25 20:38] beomseoklee commented on #223
@c0de-nat0r Sorry, but I cannot see the screenshot.
Can you run ```npm audit fix``` in ```/source/image-handler``` so that you can see there would be any package update?

[2020-06-25 20:40] beomseoklee commented on #224
@WeAreHaus Thanks for contacting us. Unfortunately, the solution is getting images from S3 buckets only right now. If you want to get images from external url, you might need to change the source code which is related to getting original images from the S3 bucket.

[2020-06-25 21:02] c0de-nat0r commented on #223
npm ERR! code EAUDITNOLOCK
npm ERR! audit Neither npm-shrinkwrap.json nor package-lock.json found:
Cannot audit a project without a lockfile
npm ERR! audit Try creating one first with: npm i --package-lock-only

npm ERR! A complete log of this run can be found in:
npm ERR!     /home/ec2-user/.npm/_logs/2020-06-25T20_59_52_059Z-debug.log

This is the output after running the command *npm audit fix*

[2020-06-29 22:06] beomseoklee commented on #223
Can you run ```npm install``` first?

[2020-07-01 13:56] abhisheksoni27 commented on #221
@beomseoklee Thanks, Beomseok, for your response. I believe this should be prioritized at the earliest as it is leaves things open to attackers. Any potential business using this in production might have to incur insane amout of charges. Please plan this accordingly. It is my sincere request to prioritize this at the earliest. I'm willing to contribute, if needed.

[2020-07-06 02:16] JoeShi opened #225 "s3:GetObject policy applied on bucket level"
I have see a policy from line 730, I don't understand why it works.

[code]

I see from the policy, the `s3:GetObject` and `s3:PutObject` apply on resource `arn:aws:s3:::*`. These two actions apply on the object level, not bucket level. Thus, I think it should be
[code]

However, the template does works.

[2020-07-06 23:14] beomseoklee commented on #225
@JoeShi You can refer to [Amazon S3 Resources document](https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html) Wildcards section.

[2020-07-07 00:32] #225 closed

[2020-07-07 03:45] eltonjothi opened #226 "Facebook og:image issue"
The meta tags don't appear on facebook instantly or sometimes on WhatsApp share.
It appears after scraping the data 3 times
i know this is a problem with facebook, but is there anyway to resolve this issue ?

[2020-07-07 07:51] eltonjothi commented on #226
https://developers.facebook.com/docs/sharing/webmasters/images
Never mind, i had to precache images

[2020-07-07 07:51] #226 closed

[2020-07-13 15:48] pch commented on #221
+1 to what @abhisheksoni27 said. This is a serious concern. Currently anyone can decode base64 strings and tamper with them, potentially generating thousands of variants of the same image.

JSON payload should be HMAC-signed, using a secret key shared between the client and `serverless-image-handler`, e.g.:

[code]

If the `sig` field is present, lambda should verify HMAC before generating an imag

[2020-07-14 08:58] pch commented on #221
My quick take on this: https://github.com/awslabs/serverless-image-handler/pull/227

[2020-07-22 18:49] chryssalid commented on #131
@beomseoklee any news on this topic? The Appendix D still only refers to Thumbor filters. How to use watermark/composite feature?

[2020-07-24 21:36] nireak commented on #148
Any update or ETA? Thanks

[2020-07-28 06:57] yuan00yuan opened #228 "does not support hk region: ap-east-1"
when launching the template in HK region:ap-east-1, there is a error:

 Your access has been denied by S3, please make sure your request credentials have permission to GetObject for solutions-ap-east-1/serverless-image-handler/v4.2/image-handler.zip. S3 Error Code: AccessDenied. S3 Error Message: Access Denied (Service: AWSLambdaInternal; Status Code: 403; Error Code: AccessDeniedException; Reques

[2020-07-28 20:50] beomseoklee commented on #228
@yuan00yuan Thanks for contacting us, and I'm sorry to hear that you faced an issue to launch the solution in the Hong Kong region. Unfortunately, we don't support some new regions currently, but we will definitely support whole regions later.

A workaround is to follow the README so that you can create your own version to deploy in the Hong Kong region.

[2020-07-30 06:14] ashwinmaurya commented on #211
Hi,

Can you please help me.
Let me know how can I implement this in my stack (cloudformation) Amazon?

Need detailed steps, I am a newbie.

My serverlessimaghandler setup is working properly will all the filters and parameters. But I want text watermark.

[2020-07-30 10:33] psdty commented on #131
Hope to fix the watermark function, thank you very much!

[2020-07-31 04:45] eltonjothi commented on #211
I have made a detailed guide, how i have tried to add watermarks.
https://medium.com/@elton.jj/watermarks-with-aws-serverless-image-handler-6c24f4700e2d

[2020-07-31 04:45] #211 closed

[2020-07-31 04:46] eltonjothi commented on #131
I have made a detailed guide, how i have tried to add watermarks.
https://medium.com/@elton.jj/watermarks-with-aws-serverless-image-handler-6c24f4700e2d

[2020-08-01 12:16] psdty commented on #131
Thank you very much. I can implement the text watermark after redeploying according to your guide, but the final text watermark image is not displayed normally, just like the output of the image address below, the text of the watermark is just ordinary alphabetic characters.

https://d3cdm6t5czvhoc.cloudfront.net/eyJidWNrZXQiOiJ0ZXN0c2cuYW9zdGF0aWMuY29tIiwia2V5IjoiaW1hZ2UvMDA1LzAzNzJhNzE2ZjY4MWE2N

[2020-08-01 13:26] eltonjothi commented on #131
I have updated the post, and also the code to support more options to tweak your watermark.. Please have a look at the section where you need to add the font config in the source/image-handler/fonts/fonts.conf

[2020-08-01 19:27] rromanchuk opened #229 "Switching over to managed cache/origin policies, general advice"
I'm trying to diff whats currently in the cloudformation template using the legacy `DefaultCacheBehavior` and was looking for guidance on if there is an existing policy that work well with this deployment.

I'm currently testing `Managed-CORS-CustomOrigin` and `Managed-CachingOptimized`, just looking for a second pair of eyes to check if i'm missing anything obvious.

I deployed on a staging envir

[2020-08-03 03:52] psdty commented on #131
Great, thank you very much.
I redeployed according to your updated guide and successfully achieved the effect of text watermarking.

I would like to ask how to realize the support of image watermarking effect?
^_^

[2020-08-03 03:53] psdty commented on #131
Great!
thank you very much.
I redeployed according to your updated guide and successfully achieved the effect of text watermarking.

I would like to ask how to realize the support of image watermarking effect?
^_^

[2020-08-03 14:15] #217 closed

[2020-08-03 14:16] adrianosmateus commented on #217
Fixed with some image quality treatment.

[2020-08-04 18:13] beomseoklee commented on #229
@rromanchuk Thanks for your opinion.

We haven' considered to use the managed cache policy and origin request policy, but we will investigate this one. If no managed policy fits into our case, we might think to create a custom policy. Since we are using the legacy cache setting, it could be valuable to use new settings instead of the legacy cache settings.

[2020-08-07 11:35] karensg commented on #31
Would be great to reopen this issue

[2020-08-08 12:25] aman3103 opened #230 "How to pass the quality parameter in the image"
May I know what parameter we need to pass to maintain the quality like Fastly image optimisation have quality
https://docs.fastly.com/en/image-optimization-api/quality

Do we have such parameter in this solution?

[2020-08-10 15:47] beomseoklee commented on #230
@aman3103 You can use quality in 2 ways.
1> Using base64 encoded request
[code]
You can change `png` to other image type you are using. Then, you can encode the JSON. See more information at [sharp](https://sharp.pixelplumbing.com/).

2> Using Thumbor style filter
[code]

If you are not clear, please let us know.

[2020-08-17 08:36] aman3103 commented on #230
@beomseoklee may I know in which file we can do these changes?

[2020-08-17 15:46] beomseoklee commented on #230
@aman3103 Just clarify your question, do you want to do with query string? If not, you can do as what I provided. If so, you need to change API Gateway, CloudFront, and maybe `thumbor-mapping.js` would be a better choice.

[2020-08-21 04:06] salander0411 opened #231 "Unable to parse S3 Key with prefix under Thumbor mode"
example:

- URL that could be parsed correctly: https://xxxxx.cloudfront.net/fit-in/400x400/filters:watermark(test,random.jpg,0,0)/lena.jpg

- URL that couldn't be parsed:   https://xxxxx.cloudfront.net/fit-in/400x400/filters:watermark(test,test/random.jpg,0,0)/lena.jpg    be

That looks like is due to
[code]

the regex will lead the key to be 'random.jpg,0,0)/lena.jpg  '

in parseImageKey  in ima

[2020-08-25 07:54] salander0411 commented on #231
Thanks @beomseoklee , any update?

[2020-08-25 13:39] BuiltByJames commented on #208
Also getting this issue. Any update @beomseoklee ?

[2020-08-25 23:08] beomseoklee commented on #231
@salander0411 I think this would work. Not fully tested though.
[code]

So maybe the source code you provided can be replaced to
[code]

[2020-08-25 23:19] beomseoklee commented on #208
I haven't tested whole cases, but simply, we can change the regular expression to this:

[code]

I'll be back when I'm done the full testing.

[2020-09-02 07:02] 3rd-stone opened #232 "deployment of cloudformation template failed in Hongkong (ap-east-1) region"
**Describe the bug**
Cloudformation error: GetObject for solutions-ap-east-1/serverless-image-handler/v4.2/custom-resource.zip. S3 Error Code: AccessDenied. S3 Error Message: Access Denied (Service: AWSLambdaInternal; Status Code: 403; Error Code: AccessDeniedException;)

Possible Reason:
The different s3 url structure between HK region and other regions (i.e object url for HK region: https://buck

[2020-09-02 16:30] beomseoklee commented on #232
@3rd-stone I'm sorry to hear that you experienced an issue. Unfortunately, we currently don't support the Hong Kong region. We will update you when we are ready to support the Hong Kong region.

[2020-09-03 06:54] ssannidhi-palo commented on #232
@beomseoklee I had to deploy this stack in the HK region, but fails with the "S3 Access Denied". As suggested, I have followed the instructions in the README and built the distribution along with the CF template.

The cloud formation stack keeps failing in the ap-east-1 region with below error.

You don't have permission to access the S3 bucket for CloudFront logs: test-logs-a9v2cdhvdx05.s3.amazon

[2020-09-03 08:54] salander0411 commented on #231
The key could be parsed correctly but the overlay image key cannot be parsed now.

https://xxxxx.cloudfront.net/fit-in/400x400/filters:watermark(test,random.jpg,0,0)/lena.jpg

orginal image could be parsed to be:  https://xxxxx.cloudfront.net/lena.jpg

but the overlay image key now parsed to be : filters:watermark(oss-to-s3-test,

[2020-09-03 16:12] beomseoklee commented on #232
@ssannidhi-palo I'm sorry for your inconvenience, but that's the current restriction on CloudFront side. You can see the [document](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/AccessLogs.html#access-logs-choosing-s3-bucket).

We will think about the workaround for the issue.

[2020-09-09 17:19] beomseoklee commented on #205
@mberneis
Thanks for waiting. This one is fixed in v5.0.0.

[2020-09-09 17:20] beomseoklee commented on #183
@OBrown92
Thanks for waiting. This one is fixed in v5.0.0.

[2020-09-09 17:22] beomseoklee commented on #187
@Furytron
Thanks for waiting. `convolution` filter is fixed in v5.0.0.
We will consider how we can handle filter chaining.

[2020-09-09 17:23] beomseoklee commented on #190
@carles-codony-manomano
Thanks for waiting, and this issue is fixed in v5.0.0.

[2020-09-10 10:59] aman3103 commented on #230
@beomseoklee thanks for the response I am following this Blog and created function based on these which is normally generating 2 files 1 for Viewer and another for Origin Request index.js May I know if possible to achieve this in just changing in any of the 2 files

https://aws.amazon.com/blogs/networking-and-content-delivery/resizing-images-with-amazon-cloudfront-lambdaedge-aws-cdn-blog/#:~:text=

[2020-09-10 19:12] beomseoklee commented on #230
@aman3103 The source code you provided has 2 quality changes, jpeg and png, which I am not sure if it would work or not. Once again, I'm not super clear what you want to achieve. Can you provide what could be the input and the output of your request?

[2020-09-11 04:39] aman3103 commented on #230
@beomseoklee the above code works fine for us, thanks.

[2020-09-11 11:24] jcneiss opened #233 "Can't use subfolder with base64 encoded requests"
With the latest version (v5.0.0), use of subfolder with base64 requests is no longer working.

Type of request:
`https://<distributionname>.cloudfront.net/<subfolder>/<base64encodedrequest>`

I get this error message:
`status: 400,
  code: 'DecodeRequest::CannotDecodeRequest',
  message: 'The image request you provided could not be decoded. Please check that your request is base64 encoded properly

[2020-09-11 15:37] beomseoklee commented on #233
@jcneiss Thanks for contacting us and I'm sorry to hear what worked does not work on the latest version.
May I know why you used subfolder in the URL?

[2020-09-11 16:56] jcneiss commented on #233
For a domain, I have different origins on cloudfront, and cloudfront behaviors are based on the subfolder to choose the correct origin.
One of those origins is the api-gateway of serverless-image-handler.

[2020-09-15 14:04] MaartenTutak commented on #208
Any updates? Running into the same issue here.

[2020-09-16 05:52] demsey2 commented on #193
I have the same issue but in my case, the problem is with png file 4.3MB which is lower than the limit

[2020-09-17 10:43] amcfarlane commented on #204
@beomseoklee would the Lambda limit have been an issue added with v5? I've just tried updating from v4 > v5 and had to revert back because we're getting a larger number of HTTP 502 responses with the following body: {"message": "Internal server error"}. In v4 this doesn't happen.

[2020-09-17 16:10] beomseoklee commented on #204
@amcfarlane We fixed wrong webp option in v5. In v4.2, even though you don't choose to use webp automatically, it converted the format to webp. We fixed this issue, and that might cause a bigger image size.

[2020-09-20 07:44] pedja4 commented on #131
I can confirm that the overlay works for me with this as the image request:
[code]

[2020-09-21 16:35] ppkinev commented on #206
Is there any update on this issue? it still happens randomly from time to time.

[2020-09-21 17:15] beomseoklee commented on #206
@ppkinev We haven't fixed this one because we don't have detail information and how to reproduce this one. If you can provide how I can reproduce this one consistently (e.g. certain image always fails and so on), it would be helpful to fix the issue.

[2020-09-21 20:45] ppkinev commented on #206
@beomseoklee Found one of the reasons that happen, not sure if it's the only one.
In my case, I was taking image width and height from data-attributes so they were strings.

So if using:
[code]
https://dblir06cn1w4c.cloudfront.net/eyJidWNrZXQiOiJraW5vbmF0aW9uLWltYWdlYnVja2V0LTFsN3VkMjVsa2ducnoiLCJrZXkiOiJpbWFnZV9pZF80NTM0XzRlOTc0ZjQyZjFiNmMxODg0NDNkNTA1YTkxZmI2NmFmLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6e

[2020-09-22 08:20] salander0411 commented on #231
Looking forward for  your update, thanks!

[2020-09-25 07:17] kajalkaushik7 commented on #31
I am facing the same issue. Do you guys got any solution?

{"status":400,"code":"RequestTypeError","message":"The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to the documentation for additional guidance on forming image requests."

[2020-09-25 07:56] AhmedRagheb opened #234 "Resize SVG is returning 200 with a broken image"
**Describe the bug**
Resize SVG is returning 200 with a broken image

**To Reproduce**
Resize SVG with any mode and It will return 200 with a broken image

**Expected behavior**
Resize SVG should return the 200 with a resized image.

**Please complete the following information about the solution:**
- [x] Version: [e.g. v5.0.0]
- [x] Region: [e.g. eu-west-1]
- [x] Was the solution modified from the

[2020-09-25 08:53] MartijnKooij commented on #234
I'm seeing the same issue after upgrading to 5.0. SVG resizing worked fine in version 4.1 which we used before.

If I look at the HTTP response for my resize request I do see something that looks like PNG binary data but I cannot get it to render.
Also the `content-type` response header is wrong, it says `image/svg+xml` instead of something like `image/png`.

[2020-09-25 21:52] beomseoklee commented on #234
@AhmedRagheb and @MartijnKooij
I'm sorry to hear that you experienced a same issue. Please allow us to investigate the issue.

[2020-09-28 16:14] beomseoklee commented on #234
Thanks for waiting. v4.2 was broken, so every image was return as `image/webp`, and v5.0 fixed that issue so if you don't set `AUTO_WEBP` to 'Yes' at the Lambda function's environment variables, the Lambda function is going to return the original `content-type` which is `image/svg+xml`.

The possible simple workaround is to change `AUTO_WEBP` to `Yes` at your Lambda function. We will consider how

[2020-09-30 23:11] beomseoklee commented on #206
@ppkinev Thanks for data. We will consider your opinion in the next release.

[2020-10-01 15:14] avario opened #235 "Prevent wrong orientation from EXIF data with Thumbor filters"
When I access an image with orientation EXIF data, the output is often automatically rotated to an incorrect orientation. This seems to be a common issue: https://github.com/awslabs/serverless-image-handler/issues/220, https://github.com/awslabs/serverless-image-handler/issues/25

The current solution seems to be to include `"rotate": null` in the edits list. However, I'd prefer to access images u

[2020-10-01 16:06] beomseoklee commented on #235
@avario Do you have an example that I can try to reproduce so that we would think of the solution?

[2020-10-02 03:20] avario commented on #235
@beomseoklee Here's an example of the automatic rotation effect:
<img width="1534" alt="image" src="https://user-images.githubusercontent.com/2192944/94884608-6cc9c700-04ca-11eb-9fe0-f6d66a8f5481.png">

Here's a direct link to the original image: https://bouldermap.s3.amazonaws.com/D624927E-AC6D-4B4D-84BC-E833093EBAAC.jpg

You can see that it has the correct orientation because the EXIF data for t

[2020-10-04 08:32] raaone7 opened #236 "Image resize is changing the orientation"
**Describe the bug**
Image resize is changing the orientation
i.e. from portrait to landscape internally

**To Reproduce**
Upload any image in portrait mode , with resolution say 1500 x 2000 pixels
try to retrieve the image at 300 x 300 pixels, the image is been changed to landscape mode

**Expected behavior**
try to retrieve the image at 300 x 300 pixels, the image should be returned in portrait

[2020-10-04 08:42] raaone7 commented on #236
{"bucket":"test.images.abc.com","key":"place/annam_little_bourke_st_3-20201004_073716.jpeg","edits":{"rotate":null,"resize":{"width":400,"height":400,"fit":"cover"}}}

did the trick, and its working.

[2020-10-04 08:42] #236 closed

[2020-10-08 00:42] avario commented on #235
@beomseoklee Any ideas on this?

[2020-10-08 00:59] beomseoklee commented on #235
@avario I'm trying to experiment `withMetadata()` but it's not working properly when I provided `rotate` value.
I'll update once I find the permanent resolution of this issue.

[2020-10-08 10:47] marco910 commented on #234
I have a similar issue. When requesting an SVG through CloudFront (without edits) I'm getting this message:

`The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to the documentation for additional guidance on forming image requests.`

[2020-10-09 14:37] milorad2020 opened #237 "Template comparison produced unacceptable match"
FAIL  test/constructs.test.ts (23.518s)
  × Serverless Image Handler Stack (1278ms)

  ● Serverless Image Handler Stack

    Template comparison produced unacceptable match

      12 |   const stack = new Constructs.ConstructsStack(app, 'MyTestStack');
      13 |   // THEN

         |                    ^
      15 | });
      16 |

      at StackMatchesTemplateAssertion.assertOrThrow (node_modules

[2020-10-09 14:45] saroj990 opened #238 "Does it store the resized images in s3"
**Does it store the resized image in the s3 bucket ?**

I am really confused on this, initially when I was looking for a solutions for this image resizing requirement, I stumbled upon this [old archived library](https://github.com/amazon-archives/serverless-image-resizing/blob/master/README.md). It has been mentioned in the archived repo that once an image is transformed, it is put into the s3 buc

[2020-10-09 16:15] beomseoklee commented on #238
@saroj990 The solution does not store the edited images in the S3 bucket. If you want to store the edited images in the S3 bucket, you may implement the part either in `image-handler.js` or `index.js`.

For example, in `index.js`,
[code]

[2020-10-09 16:23] beomseoklee commented on #237
@milorad2020 Thanks for your report, and we'll update the test case in the next release.

[2020-10-09 16:36] pengunerd opened #239 "Cache behavior issues with v4.2"
**Describe the bug**
I deployed Serverless Image Handler v4.2 and can access my .jpg files from my source s3 bucket and its subfolders via base64 encoded requests.

I want to increase the cloud front cached file expiration (from default TTL 1 day to 2 weeks) without sending additional headers for individual objects as per : https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expirat

[2020-10-09 23:04] eliavmaman opened #240 "Thumbor remove EXIF data , images displayed rotated"
I'm applying thumbor filters on s3 stored images.
Original : https://d37aahii0nv5jf.cloudfront.net/filters:strip_exif()/0Zoxha2t9S1HR4oYGmSa/IMG_9292.JPG
filter url file : https://d37aahii0nv5jf.cloudfront.net/fit-in/1000x0/filters:strip_exif()/0Zoxha2t9S1HR4oYGmSa/IMG_9292.JPG

image displayed rotated on our website.
Original:
![image](https://user-images.githubusercontent.com/6911449/95635599-81

[2020-10-10 00:26] beomseoklee commented on #240
@eliavmaman I'm sorry to hear that you are experiencing the issue.
Would you mind sharing the original image so that I can reproduce? Meanwhile, I'm preparing a fix for this issue as you can see there are several same issues, so if you can provide the original image, I would see if the resolution would work.

[2020-10-10 13:53] eliavmaman commented on #240
Hey @beomseoklee  Thx for the quick response, its really cool.
here is the original [image](https://res.cloudinary.com/pic-my-wave/image/upload/v1602337779/k8pjm0wkovyenmaekue8.jpg) .
I used to use the service of Cloudinary and i didn't had problems with EXIF... but now when i moves to AWS s3 with cloudfrontURL we do have this issue.
i've also tried to set environment variable of "RESPECT_ORIENTAT

[2020-10-11 07:54] eliavmaman commented on #240
@beomseoklee did you got the original image and is it ok for testing?

[2020-10-12 03:04] beomseoklee commented on #240
@eliavmaman Thanks for sharing.
I've tested the original image, and you can check the result.

https://d37r0g0z5f55a7.cloudfront.net/filters:strip_exif()/240.jpg
https://d37r0g0z5f55a7.cloudfront.net/fit-in/1000x0/filters:strip_exif()/240.jpg

So, I believe this issue would be fixed in the next release.

[2020-10-12 05:25] eliavmaman commented on #240
@beomseoklee Thx man.. you are awesome and what you did is really appreciated.
Just 2 questions..
1.When does the next version will be?
2.Do i need to update something? i'm using the "serverless-image-handler" through  installation of CloudPlatfrom template
Thx for your time

[2020-10-12 15:53] beomseoklee commented on #240
@eliavmaman We are planning to release the next version in this month, but it can be delayed. When we release the next version, what you need to do is to update using the latest CloudFormation template.

[2020-10-13 02:29] avario commented on #235
@beomseoklee Have you made any progress on this? I'd really like to get this deployed. If it's not going to be possible to use thumbor filters I can just look into using the an encoded edits list.

[2020-10-13 03:32] beomseoklee commented on #235
@avario I'm preparing a new update including this issue. We are planning to release the new version in this month, but it can be delayed to the next month. If it's not possible to wait for you, it would be better to use the encoded edits list with `rotate: null` for now.

[2020-10-14 11:46] ItsBhatt opened #241 "Doesn't supports formats like svg, gif etc"
**Describe the bug**
Doesn't support svg and gifs format , this error is showing
`{"status":400,"code":"RequestTypeError","message":"The type of request you are making could not be processed. Please ensure that your original image is of a supported file type (jpg, png, tiff, webp) and that your image request is provided in the correct syntax. Refer to the documentation for additional guidance on f

[2020-10-15 05:02] ItsBhatt commented on #241
thanks, how can i update my serverless image handler solution which i deployed using aws solutions. will there any option to update it or i have to delete the old one and deploy new version.

[2020-10-16 16:28] marco910 commented on #31
Are there already news about SVG support?

[2020-10-16 17:02] beomseoklee commented on #31
@marco910 Please wait, and It's coming!

[2020-10-19 05:34] #238 closed

[2020-10-19 13:26] AhmedRagheb commented on #241
@beomseoklee When are you planning to deploy/publish the next release?
Currently, we are using 4.2 but, this is causing other problems. So, we are also waiting for this fix and release.

[2020-10-24 15:22] joebernard commented on #133
`smartCrop` is still breaking as of version 5 of serverless image handler. It breaks whether `smartCrop` is set to true or an object as specified in the [docs](https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/appendix-c.html). It breaks if the image actually has a face to detect or not. I can't get it working under any conditions.

From CloudWatch:
[code]

[2020-10-26 07:22] eliavmaman commented on #240
Hey @eliavmaman ... just wanted to know if the bug was fixed and i can update my CloudFormation template?
Thx Man

[2020-10-26 18:30] beomseoklee commented on #133
@joebernard Sorry for the late response and inactive engagement for this issue. This issue is in our backlog, but I'll take a look at this one again.

[2020-10-29 16:49] eliavmaman commented on #240
@beomseoklee I have an open case on AWS which is related to that issue and could really use that next version in order to get my Site to work as expected.
Tell me if I can help to make the next version deploy my friend .
Appreciate your effort

[2020-10-29 17:00] leviwilson commented on #240
@eliavmaman I have had way better luck with just deploying our PR branches rather than waiting on this particular repo to make a release.

PRs that are submitted here don't follow the normal release / merge cycles that most open source does in this regard. Instead I think they have _internal_ flows w/ how changes with this particular repo are merged in that's independent of this repository.

I hav

[2020-10-29 23:37] beomseoklee commented on #240
@eliavmaman the bug is validated, and we are waiting for the next update. The next update would contain the fix of this issue.
@leviwilson I'm sorry for your bad experience, but you are right. Due to the internal policy, we don't manage this repository as other open source repositories in GitHub.

[2020-10-30 01:02] leviwilson commented on #240
@beomseoklee it's fine; it would just be nice if that was outlined somewhere rather than people taking time to improve issues they find and not really have an idea how to get their changes into the mainline.

[2020-11-06 02:44] mortillan opened #242 "Support setting options.limitInputPixels for sharp"
**Is your feature request related to a problem? Please describe.**

We are currently using this for resizing our images for our e-commerce platform. But currenty we bumped with this error when resizing a 16,800x19,200 PNG in 1200dpi. It's returning HTTP 400 and digging further saw this in Cloudwatch.

2020-11-06T01:47:38.092Z	111312ea-449d-4aed-b0f8-9e70a6a4214c	INFO	[Error: Input image exceeds pi

[2020-11-08 23:54] avario commented on #235
@beomseoklee Do you have any news on when this update will be released?

[2020-11-09 19:01] beomseoklee commented on #242
@mortillan Thanks for your feedback. We put this one to our backlog, and we will consider how we can manage this one.

[2020-11-09 19:54] beomseoklee commented on #239
@pengunerd Thanks for contacting us and I'm sorry to hear you experienced inconvenience.
Unfortunately, CloudFront does not provide when your objects are going to be expired (you may see `Age` in the response header though).

CloudFront provides the access log which is available in the `<YOUR_STACK_NAME>-logs-<HASH>` S3 bucket and the access log provides [this](https://docs.aws.amazon.com/AmazonCl

[2020-11-13 04:52] vonec commented on #133
can we expect this to be fixed in the next release, waiting for this since July. Also I hope the images will be cached after processing as calls to rekognition are chargeable.

[2020-11-16 05:09] lvillacin opened #243 "Inappropriate content detection"
**Is your feature request related to a problem? Please describe.**
Was hoping I could detect inappropriate content from the photos so I could blur them out unless I specifically don't want to.

**Describe the feature you'd like**
Maybe it could be one of the edits like an inappropriate filter option and the photos can come back blurred or even better somehow with a metatag that says it's inappropr

[2020-11-16 17:55] beomseoklee commented on #243
@lvillacin thanks for your input. We put this one into our backlog item, and we will consider how to add this feature.

[2020-11-16 18:22] lvillacin commented on #243
Thanks @beomseoklee looking forward to seeing this being implemented 🤩

[2020-11-17 10:13] 3rd-stone opened #244 "how to generate cloudfront signed-urls with fit-in resize parameter?"
I tested serverless-image-handler stack with cloudfront signed-urls function,

When I generate cloudfront signed-urls with the structure like "https://a.cloudfront.net/fit-in/100x100/a.jpg", I can get a url like "https://a.cloudfront.net/fit-in/100x100/a.jpg?Expires=xxx&Signature=xxx" and can successfully visit my picture.

However, when I generate cloudfront signed-urls with the structure like "h

[2020-11-18 09:40] pasali commented on #121
Hi @beomseoklee, any news on this issue ?

[2020-11-19 19:21] beomseoklee commented on #200
We've added a workaround for `413` issue in v5.1.0 so when you get the `413` error, you would see the proper error message.

[2020-11-19 19:22] beomseoklee commented on #189
This one is updated in the latest version.

[2020-11-19 19:23] beomseoklee commented on #208
Thanks for waiting. This one is fixed in v5.1.0.

[2020-11-19 19:28] beomseoklee commented on #221
We've added the feature in v5.1.0, but due to our internal security policy, we used AWS Secrets Manager to store the secret key and value.

[2020-11-19 19:29] Furytron commented on #208
Thanks @beomseoklee !

[2020-11-19 19:29] beomseoklee commented on #203
Thanks for your inputs and waiting for the response. We've added the feature to meet this request in v5.1.0, so please take a look at the latest one.

[2020-11-19 19:31] beomseoklee commented on #111
Thanks for waiting, all. We've added a security feature to v5.1.0 to meet the requirement. Please take a look at the latest version.

[2020-11-19 19:32] beomseoklee commented on #206
Thanks for waiting. We've released v5.1.0.

@ppkinev We fixed the issue you mentioned. @gcarrion-gfrmedia You will not going to see the empty json anymore. The solution will always throw an error if any error happens.

[2020-11-19 19:33] beomseoklee commented on #137
Thanks for waiting. We've released v5.1.0, and the version contains the default fallback image feature so that you can define your own image to return when any error happens.

[2020-11-19 19:36] beomseoklee commented on #193
Thanks for waiting. We've released v5.1.0 to mitigate this issue. The new version will throw an proper error message once your images exceed the Lambda limit.

@vitalinfo @demsey2 since we are using API Gateway Lambda proxy, we are encoding the image binary which causes bigger payload than the original image size. That's why you've faced an issue with images lower than the Lambda limit.

[2020-11-19 19:39] beomseoklee commented on #204
We've released v5.1.0 to mitigate this issue. The new version will throw a proper error message once your images exceed the Lambda limit.

[2020-11-19 19:41] beomseoklee commented on #234
Thanks for waiting @AhmedRagheb and @MartijnKooij
We've released v5.1.0, and the new version will return `image/svg+xml` if there's no change. If there's any changes, it changes the image format to `image/png` because that's how sharp works by default.

[2020-11-19 19:42] beomseoklee commented on #197
Thanks for waiting. We've fixed this one in v5.1.0.
If you still see the issue in the newest version, please open an issue again.

[2020-11-19 19:45] beomseoklee commented on #231
Thanks for waiting @salander0411
We've fixed this issue in v5.1.0.

[2020-11-19 19:47] beomseoklee commented on #240
Thanks for waiting @eliavmaman
We've fixed this issue in v5.1.0.

[2020-11-19 19:47] beomseoklee commented on #235
Thanks for waiting @avario
We've fixed this issue in v5.1.0.

[2020-11-19 19:49] baj84 opened #245 "X-Cache: Miss from cloudfront & Cache-Control: no-cache"
None of my images are getting cached and it's hitting the image handler everytime.

Response headers always return: `X-Cache: Miss from cloudfront`
Request headers always return `Cache-Control: no-cache`

I followed the tutorial on AWS to set it up and my domain name is still the default cloudfront one, so I think it's a separate issue to #160

I'm new to AWS, so any help is much appreciated.

Her

[2020-11-19 22:52] beomseoklee commented on #191
@shortdoormedia Thanks for waiting, and we've updated the solution to v5.1.0.

We've revisited the rewrite feature. In your case, you can put `/large/gm` to `REWRITE_MATCH_PATTERN` and `fit-in/1400x1400` to `REWRITE_SUBSTITUTION`. Hopefully it works for you.

[2020-11-19 22:59] beomseoklee commented on #121
@pasali @neilsh @vlidhot Thanks for waiting. We've release v5.1.0, and hopefully the new version fixes this issue.
Basically, it simply replaces the string. If it does not work, please open a new issue with your use case so that we can take a look at your use case.

[2020-11-20 01:46] #235 closed

[2020-11-20 02:08] beomseoklee commented on #244
@3rd-stone Thanks for contacting us. I believe the signed url is meant to be created with the actual URLs. So the first case, as you provided the full URL for signed URL, it would work. However, as you created a signed URL for "https://a.cloudfront.net/a.jpg" for the second example, you would not access to "https://a.cloudfront.net/fit-in/100x100/a.jpg" with the signature and other query strings.

[2020-11-20 08:40] 3rd-stone commented on #244
Is there any method to accomplish the second example? I am an AWS SA and one of my customer said he could get resized picture through second method last Tuesday, but that doesn't work since then. And now he can only apply first method, which he believes to be too complicated.

[2020-11-23 18:25] #183 closed

[2020-11-23 18:26] #191 closed

[2020-11-23 18:26] #121 closed

[2020-11-23 19:28] #200 closed

[2020-11-23 19:28] #205 closed

[2020-11-23 19:44] #190 closed

[2020-11-23 19:44] #189 closed

[2020-11-23 19:45] #208 closed

[2020-11-23 19:45] #221 closed

[2020-11-23 19:45] #203 closed

[2020-11-23 19:45] #111 closed

[2020-11-23 19:45] #206 closed

[2020-11-23 19:46] #137 closed

[2020-11-23 19:46] #193 closed

[2020-11-23 19:46] #204 closed

[2020-11-23 19:46] #234 closed

[2020-11-23 22:17] pengunerd commented on #239
Hi @beomseoklee , that's correct, I was facing the issue on the same browser everyday. I wanted to avoid adding headers to the origin bucket so that's why I tried to add cache behaviors.

I was able to figure out a little more. In the Cloud Front console under the 'Behaviors' tab, and following the aws docs the cache behaviors I had added were not working.

If I modify the "Default (*)" behavior a

[2020-11-24 15:19] #231 closed

[2020-11-24 15:19] #240 closed

[2020-11-25 03:05] NoobForGitHub opened #246 "Noob question here: What is this serverless image handler used for?"
I know this is a silly question but I tried googling a lot and I can't figure out a few things, please replied to then in a nummerated way so that I know which one you're addressing. I made an account on github so i can post:

1. What is the difference between Thumbor and Serverless image handler?
2. What can Thumbor do, that serverless iamge handler can't?
3. SO if these things are served on the

[2020-11-26 09:12] marco910 opened #247 "Broken SVG returned if not edits specified and Auto-WebP enabled"
**Describe the bug**
If I'm requesting an SVG via the Image Handler and do not specify any edits to request (because I want to get the original SVG) I'm getting a broken WebP/SVG image as a response. (Broken means in this case that the SVG isn't display. Instead, a message appears that the image contains errors.) If I try to request the SVG with a browser, that doesn't support WebP, such as Safari

[2020-11-27 18:43] beomseoklee commented on #247
@marco910 Thanks for contacting us, and I'm sorry for your inconvenience. I recognized the issue, and the issue is related to WebP. It changes the type to WebP when WebP is supported on the browser. We'll fix this issue in the next update. Meanwhile, if you want to fix this one as soon as possible, you can fix the source code something like this.

https://github.com/awslabs/serverless-image-handle

[2020-11-27 18:56] beomseoklee commented on #246
@NoobForGitHub Thanks for contacting us. To answer your questions,

Serverless Image Handler used to use Thumbor and it is using Sharp instead of Thumbor. However, Serverless Image Handler supports Thumbor style filters so that people using old versions can migrate to the new version.

You can see the supported Thumbor filters by Serverless Image Handler [here](https://docs.aws.amazon.com/solution

[2020-11-27 19:03] NoobForGitHub commented on #246
INCREDIBLE HELP!!!

I do have one more question though since as my nickname says I am a noob.

I have set up the s3 bucket yey!!
got the template uploaded! :)
cloudfront was created
images are served via cloudfront.

I also suppose for SEO purposes I would have to make a CNAME record and use my domain instead of cloudfront

So now I tested it and it really returns whatever image format size or wha

[2020-11-27 20:10] NoobForGitHub commented on #246
Okay so from my udnerstanding, we would need a some sort of a plugin?! Right?!

Is there some plugin where I could manually insert links to every single image?

[2020-11-28 14:06] marco910 commented on #247
@beomseoklee Perfect, now it's working. Thanks for your help!

[2020-11-28 14:06] #247 closed

[2020-11-30 20:28] chrisbag commented on #221
Hi @beomseoklee
i am struggling to implement the signed urls using version 5.1. with aws Secrets Manager.
I have not found any details in the implementation guide.

 I am getting a 403 error "Signature does not match"

I have found in the template the following code
`const hash = crypto.createHmac('sha256', secretString[process.env.SECRET_KEY]).update(path).digest('hex');
`
This is the code I am u

[2020-12-01 09:12] chrisbag commented on #221
I found what I was doing wrong. Here is the link for the correct implementation  https://docs.aws.amazon.com/solutions/latest/serverless-image-handler/considerations.html

However does this mean there is no possibility to add an expiry date ?

[2020-12-02 11:39] MaxenceDupressoir opened #248 "Missing slash in cloud formation template url"
**Describe the bug**

Hello,
The AWS console link to the could formation stack creation in the [solution presentation page] french or english (https://aws.amazon.com/fr/solutions/implementations/serverless-image-handler/) seems to be faulty: it open console page with a missing slash in the template URL

**To Reproduce**

- Go to the https://aws.amazon.com/solutions/implementations/serverless-image

[2020-12-03 01:24] tonyjchong opened #249 "Cloudformation hangs creating custom resources"
**Describe the bug**

After running the build script and generating my own Cloudformation template, upon using that template, the stack eventually times out on creation due to the following issues:

I edited the Cloudformation template after the fact, but the 3 things I changed were related to the s3 bucket that the built zip files are located in. I already have a bucket to store artifacts and did

[2020-12-03 22:18] beomseoklee commented on #244
@3rd-stone Sorry for the late response. I don't believe CloudFront can generate the general signed URLs.

[2020-12-03 22:19] beomseoklee commented on #248
@MaxenceDupressoir Thanks for your feedback, and we are going to fix the page.

[2020-12-03 22:28] beomseoklee commented on #249
@tonyjchong Thanks for your information, and I'm sorry for your inconvenience. Can you check the CloudWatch logs?
You can search in the `YOUR_STACK_NAME-CustomResourceFunction` CloudWatch log group.

[2020-12-03 22:50] beomseoklee commented on #246
@NoobForGitHub Serverless Image Handler returns an image with the specified width and height. It seems like you are asking if you can dynamically create an image URL on WordPress, right? I'm not aware of any WordPress plugin which helps you to create dynamic URLs but I think if your image is large to fit into the screen, your image would be automatically resized by WordPress itself; I've tested wi

[2020-12-03 23:01] beomseoklee commented on #245
@baj84 I'm sorry for the late response. `Cache-Control` header would be `max-age=31536000,public` unless your images in the S3 bucket have `Cache-Control` metadata. Can you check if your images in the S3 bucket have `Cache-Control` metadata?

[2020-12-04 11:52] thewebwell opened #250 "Option to store generated images in S3 to avoid repeated processing"
Sometimes even with a long cache-control header, a request for an image that has been previously generated results in a miss from Cloudfront. This means the same resize process has to be run again, which obviously takes much longer than simply serving an existing image.

It would be really useful to be able to store the generated image in S3 so that any subsequent calls for that resource (for exam

[2020-12-09 09:46] marco910 opened #251 ""The converted image is too large to return." for large JPG images"
**Describe the bug**
I'm storing multiple JPG images in my S3 bucket (from 1-16MB). When I try to request some with the Serverless Image Handler only a few are returned when specifying no edits (requesting the original image). For images that are over 5MB file size I'm getting the following error:
`{
  "status": "413",
  "code": "TooLargeImageException",
  "message": "The converted image is too la

[2020-12-09 20:47] luminous8 commented on #126
hey, I'm trying the module on the last version (5.1.0) and I discover with suprise that there's no option to crop from the top left of the image? I might be wrong but cannot find anything related in the docs or the UI example.

Did i missed something?

[2020-12-10 00:29] beomseoklee commented on #251
@marco910 Thanks for your feedback. By default, we don't return the original image when any failure happens. Instead, we return the error message. Therefore, if edited images or original images without any edits are larger than 6MB, it returns `TooLargeImageException` error; inside the Lambda function, it returns the image binary with base64 encoded, so the return size would be bigger than actual

[2020-12-10 00:35] beomseoklee commented on #250
@thewebwell Thanks for your feedback. Since we are not storing the modified images into S3 bucket, we would consider this feature in the future. I'll put this item into our backlog.

[2020-12-10 10:34] marco910 commented on #251
@beomseoklee What do you think is the best solution, to request large original images?
My first idea was to create a second CloudFront behavior that sources directly from the S3 bucket without the API Gateway and Lambda function.

[2020-12-11 06:57] jfornear opened #252 "Add an alternative Thumbor filter syntax for CSS in JS support, e.g., /filters:rotate(90)/ => /filters-rotate-90/"
CloudFront URLs with Thumbor filters like `/filter:rotate(90)/` don't currently render in inline CSS in JS (React) like `style={{"backgroundImage":  "url(" + this.props.image + ")"}}`,  presumably because of the `:`, `(`, and `)` characters in the syntax.

Adding an alternative syntax that uses `-` instead of `:`, `(`, and `)` like `/filters-rotate-90/` would be a proposed solution to this problem

[2020-12-11 17:27] beomseoklee commented on #252
@jfornear Thanks for your feedback. Do you have more context where you are using CSS, how you are using CSS (e.g. style.css file or directly in HTML)?

I tested with a simple example, and it seems like it's working in Chrome, Firefox, and Safari browser.
[code]

[2020-12-11 17:29] jfornear commented on #252
I’m trying to use inline CSS in jsx in React. It may be that that’s removing it.

[2020-12-14 00:47] baj84 commented on #245
@beomseoklee Thanks for the reply. No the images in the bucket don't seem to have cache-control metadata.
![Screen Shot 2020-12-14 at 11 46 42](https://user-images.githubusercontent.com/2744292/102029305-1221e500-3e02-11eb-86c2-4e005189a863.png)

[2020-12-14 19:13] beomseoklee commented on #252
@jfornear Thanks for your additional information. I guess you are sending the image URL to `image` prop.
Can you try this in your React component?
[code]

The actual only difference from your example is that I added single quotation marks and put the image URL between them.

[2020-12-14 21:45] beomseoklee commented on #237
@milorad2020 Please let us know if you still see this issue with the latest version, v5.1.0. If so, please let us know what CDK version you are using on your local machine.

[2020-12-14 21:51] beomseoklee commented on #245
@baj84 Thanks for your confirmation. Can you provide a sample URL if it's possible?

[2020-12-14 21:56] beomseoklee commented on #239
@pengunerd Thanks for your information. We've put this one into our backlog item so that we can evaluate how we can reproduce and fix the issue.

[2020-12-14 21:59] beomseoklee commented on #251
@marco910 Handling the images from S3 buckets would be a good option, and we also put this one into our backlog item so that we can handle the images larger than Lambda limit.

[2020-12-15 01:25] jfornear commented on #252
@beomseoklee this works, thanks so much!

[2020-12-15 01:26] #252 closed

[2020-12-15 02:24] baj84 commented on #245
@beomseoklee Sure thing - https://d202djbe3pr45j.cloudfront.net/eyJidWNrZXQiOiJwcm9maWxlLWFzc2V0cyIsImtleSI6ImQ2YmFjMzc5LWY5MmYtNDZmMC1iNTU4LWMzZGM5ZjQ5YmMyNS5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjMwMCwiaGVpZ2h0IjozMDAsImZpdCI6ImNvdmVyIn19fQ==

[2020-12-15 23:03] leonardofaria commented on #251
Also having the same issue. Got here after chatting with our WWPS Solutions Architect.

@beomseoklee Do you have any recommendations on what to change for serving big images straight from S3?

And, regarding the backlog, would be possible to share when (and if) this would be addressed in the future? For context, I got here by looking at the [Serverless Image Handler](https://docs.aws.amazon.com/so

[2020-12-18 14:37] joebernard commented on #133
Hi @beomseoklee, has there been any progress on this?

[2020-12-18 14:43] marco910 commented on #251
In the last few days I've tested a bit around to serve original images directly from the S3 source bucket. In my scenario all images are stored in a subfolder in the bucket, called "99999".

Now I have three CloudFront behaviors in the following order:

1. `99999/*`: Requests with this path pattern are going directly to S3 (the source bucket is configured as a CloudFront origin).
2. `*99999/*`: Th

[2020-12-21 22:57] beomseoklee commented on #251
@marco910 @leonardofaria I would think of these. Still, it is not optimal, just a rough idea that I tested.
Let's say a S3 bucket which has large images is `large-bucket` and a DynamoDB table which controls the life cycle of S3 objects is `serverless-image-handler-large`. The DynamoDB table can be replaced by the S3 lifecycle.

Then, like @marco910 said, we can have behaviors in the CloudFront dis

[2020-12-29 08:01] MartijnKooij opened #253 "Performance degradation after upgrading to 5.1.0"
**Describe the bug**
We upgraded from 4.2.0 to 5.1.0 and are noticing a pretty significant performance degradation, see attached image from the image handler lambda. Is that to be expected from 5.0/5.1 or is something wrong?

These increased execution times were causing problems for us because our reserved concurrency limit of 120 was no longer enough to handle the requests in time which started c

[2020-12-29 10:18] MartijnKooij opened #254 "Bug/Feature: Support fractions in the resize edits"
**Is your feature request related to a problem? Please describe.**
With responsive pages it frequently happens for us that a desired image size will not become an integer value. When you request a resize edit with a decimal value for the width or height the service throws an exception.

[code]

**Describe the feature you'd like**
Apart from being quite hard to find, the error could be a bit more i

[2020-12-29 20:16] MartijnKooij commented on #253
Did not realize this before but the added/new value of this upgrade for us is that we can now resize SVG > PNG. So that's the big change which would indeed heavily affect this instance of the image handler because it happens to contain mostly SVGs.
So previously on 4.2 they just were not resized, and now they are. So yes, that's a performance hit. But is this also the performance increase that you

[2021-01-04 19:15] beomseoklee commented on #254
@MartijnKooij Thanks for your feedback.
Unfortunately, sharp does not support floating-point numbers for resizing: https://github.com/lovell/sharp/blob/master/lib/resize.js#L207

In the next release, we can maybe round up the width and height and enhance the error message if it's needed.

[2021-01-04 20:05] MartijnKooij commented on #254
It would be slightly more convenient to do the rounding server-side as opposed to client-side because in our case we have a couple of clients for the same server. But I'm not sure if that's the right solution for the serverless image handler in general, for all users, what do you think?

More meaningful errors would have saved me some digging around logs. So if that's easy to improve it would be a

[2021-01-04 22:43] beomseoklee commented on #253
@MartijnKooij Thanks for your feedback. From v4.2 to v5.0, we've fixed the WebP issue. On v4.2, every image had changed to WebP even after choosing "No" for WebP Automation. That caused a performance issue: #205

From v5.0 to v5.1, we've fixed the SVG issue like you mentioned. So when you update from v4.2 to v5.1, it would fix the WebP issue and the SVG issue together. v5.1 would change the format

[2021-01-04 22:45] beomseoklee commented on #254
@MartijnKooij we would definitely round up on the server side to deal in case any users provide the floating-point numbers on width and height.

[2021-01-05 10:00] MartijnKooij commented on #253
I might be mistaken but I thought 4.2 just did not yet support SVG (#31), did it not just return the unmodified SVG? If that's the case then that would explain the performance hit right?

In case I'm mistaken here are a couple of SVG images that we use. A common edit looks like
[code]
(3 icons zipped because I could not directly add the svg files)
[icons.zip](https://github.com/awslabs/serverless-

[2021-01-05 10:03] MartijnKooij commented on #254
That would be awesome @beomseoklee !

About the error, I just noticed that in the lambda logs the error is already quite good `ERROR	Error: Expected positive integer for width but received 52.5 of type number`. I was previously looking at the API Gateway logs only. So I'm now doubting whether it would be worth the change, I think it's more common to analyze these errors in the lambda logs right? A

[2021-01-05 19:32] beomseoklee commented on #253
@MartijnKooij v4.2 supported SVG with encoded URLs. It didn't support SVG with Thumbor style URLs, and v5.x supports the Thumbor style URLs for SVG as well.

I've tested v4.2 and v5.1 around 400 times, but I haven't seen any performance difference regarding the SVG resize, but I agree sometimes processing images would take longer than your expectation.

We would see how we can improve the underlyi

[2021-01-06 09:44] deadmantfa opened #256 "Support for Client Hints"
**Is your feature request related to a problem? Please describe.**
It would be easier to automate the process of getting responsive images

**Describe the feature you'd like**
https://css-tricks.com/3-steps-to-enable-client-hints-on-your-image-cdn/

**Additional context**
https://developer.mozilla.org/en-US/docs/Glossary/Client_hints
https://developers.google.com/web/fundamentals/performance/optim

[2021-01-08 05:14] bayareahank commented on #188
Ran into this bug as of release 5.1, still not fixed.

[2021-01-08 23:52] beomseoklee commented on #256
@deadmantfa Thanks for your feedback. I put the item into our backlog, and we will see how we can address this feature.

[2021-01-11 07:27] 8secz-johndpope opened #257 "Clarification of routing to a specific image with pre-canned dimensions eg. 100x100"
I have the demo website
but for my use case - I need to be able eagerly call the end point as per @sagidM repo
https://github.com/sagidM/s3-resizer

[code]

Is it possible to do this - without url encoding the post ? There are a lot of urls in our app and we want to allow the client to switch these up at a whim.

this  demo doesn't help because the client / android app can't really mangle the size

[2021-01-11 18:09] beomseoklee commented on #257
@8secz-johndpope if you want to resize your image, as you said, you can do `https://<cloudfront>/<width>x<height>/<your_image>`, then you don't have to use base64 encoded URLs. If you have images in sub folders, you can do `<sub_folder>/<your_image>`.

If your question is different from my answer, please describe what you're looking for in detail.

[2021-01-12 00:09] 8secz-johndpope commented on #257
your right - https://d1dljjxaor3r45.cloudfront.net/100x100/images/000aaa20-3543-11e8-b346-2bfaa21988fb-large.jpg - this works. thanks - this should be in the readme.

[2021-01-12 00:09] #257 closed

[2021-01-12 00:33] beomseoklee commented on #257
@8secz-johndpope We'll consider how we can improve `README` or the implementation guide so that customers cannot be confused using the solution. Thanks for your feedback.

[2021-01-12 00:55] 8secz-johndpope commented on #257
Frankly - this solution seems so graceful that it should be integrated into s3 out of the box / yet open source as well.

[2021-01-12 01:18] ild-nucleusstudio opened #258 "All output images are blurred after resizing"
**Describe the bug**

We are using default setting of this repo on production. We got all images getting blurry.

**To Reproduce**

Using default setting.
Original image:
![image](https://user-images.githubusercontent.com/54012969/104256844-9a051880-54ae-11eb-9120-1fe1d2e7bae2.png)

Resized image:
![image](https://user-images.githubusercontent.com/54012969/104256885-b0ab6f80-54ae-11eb-8e12-717bc7b

[2021-01-12 16:57] beomseoklee commented on #258
@ild-nucleusstudio Thanks for your feedback. May I know how you resize the original image? I tried to reproduce with the original image you provided, but the output was very clear for me: 722 x 986 image as you provided example.

![image](https://user-images.githubusercontent.com/22212362/104346231-0afaff00-54b4-11eb-94c5-9895214068c9.png)

[2021-01-13 01:55] ild-nucleusstudio commented on #258
@beomseoklee thanks for looking into it.
The size of original image is 941 × 1222
The expected resize image is 396x492 (3x smaller). 722 x 986 is still clear same as mine.

Here is what I send to CDN link.
No customization.

CDN_link/heightxwidth/bucket_key_file

or

CDN_link/<base64>

base64 of

`
{
   key: 'bucket_key_file',
   edits: {
      resize: { width, height }
   }
}
`

[2021-01-13 06:31] beomseoklee commented on #258
@lid-nucleusstudio I've resized the original image provided by you, which was `PNG` because it seems GitHub uploads image file with `PNG`.
![image](https://user-images.githubusercontent.com/22212362/104414569-5ac5de80-5525-11eb-8f21-a8d0fbbe8623.png)

And this is the image when I changed the format to `JPEG`.
![image](https://user-images.githubusercontent.com/22212362/104414721-9496e500-5525-11eb-

[2021-01-14 03:40] ild-nucleusstudio commented on #258
@beomseoklee Thanks for your check.
Currently, my team still gets this issue. We make a workaround to resize images ONLY 1.5x to 2x smaller instead of 3x smaller (as we expect). The output images are sharpen and clearer.
I know it is not a good solution, however it is final one we can do.

Thanks for your time, I think we can close the issue here.

[2021-01-15 02:54] #258 closed

[2021-01-16 22:12] invincians opened #259 "API gateway request issue in Bahrain region : The \"url\" argument must be of type string. Received undefined"
**Describe the bug**
Launching the stack in Bahrain region is successful, but lamda throws the errors. The solution is not in the working state. No modification were made in lambda code as zip copied code from 'us-east-1' region to our own s3 bucket.

Error:
{"message": "Internal server error"}

ImageHandlerFunction throws errors :

**To Reproduce**
1. Take the original template: https://s3.amazon

[2021-01-17 00:28] jamieparr66 opened #260 "v5.1.0 losing correct rotation"
Hi

When resizing an image it doesn't keep the correct rotation, seems the rotate function does not take affect. As soon as the resize is taken away the rotate is honoured.

Thanks
JP

[2021-01-19 23:30] beomseoklee commented on #259
@invincians Thanks for your feedback, and I'm sorry to hear that you experienced an issue. Right now, we are trying to make the Bahrain region possible, and I guess that would be helpful for you.

Meanwhile, I'll take a look at the issue you described.

[2021-01-19 23:31] beomseoklee commented on #260
@jamieparr66 Thanks for your feedback, and can you provide more details?

[2021-01-20 08:15] jamieparr66 commented on #260
@beomseoklee on further inspection it seems this is caused by changing the file format, this applies to any photo you take on a mobile device and upload as they handle the exif differently. Example below
https://d3td59rg4udzv8.cloudfront.net/fit-in/2000x500/20210120_080653.jpg - only changing size, picture correct way up
https://d3td59rg4udzv8.cloudfront.net/fit-in/2000x500/filters:format(webp)/20

[2021-01-21 04:45] beomseoklee commented on #260
@jamieparr66 Thanks for your information. I can definitely see that if the image format is changed, it rotates the image. I'll research this one.

[2021-01-22 00:05] ild-nucleusstudio commented on #260
For this issue, I use rotate:null to resolve it.
It can be a hint for you in source code. @beomseoklee

[2021-01-27 23:17] beomseoklee commented on #260
@ild-nucleusstudio Thanks for your input. `rotate: null` will remove the all EXIF data from the image. Since the original image has the EXIF data, we preserve the EXIF data, but I think it causes an issue, so I need to investigate the issue deeper.

[2021-01-29 18:57] G-Lenz commented on #232
We've added support for the Hong Kong region in v5.2.0.

[2021-01-29 18:58] G-Lenz commented on #228
We've added support for the HK region:ap-east-1 in v5.2.0

[2021-01-29 18:58] G-Lenz commented on #192
We've added support for Bahrain (me-sout-1) and Hong Kong (ap-east-1) in v5.2.0.

[2021-01-29 18:59] G-Lenz commented on #229
We've added a CloudFront cache policy and a CloudFront origin request policy in v5.2.0.

[2021-01-29 19:01] G-Lenz commented on #214
We've added support for circular cropping in v5.2.0.

[2021-01-29 19:01] G-Lenz commented on #216
We've added support for circular cropping in v5.2.0.

[2021-01-29 19:03] G-Lenz commented on #169
We've added limited support for files without extensions in v5.2.0. Any image filters that use Amazon Rekognition (content moderation and smart cropping) will not work with files that do not have an extension.

[2021-01-29 19:03] G-Lenz commented on #188
We've added limited support for files without extensions in v5.2.0. Any image filters that use Amazon Rekognition (content moderation and smart cropping) will not work with files that do not have an extension.

[2021-01-29 19:04] G-Lenz commented on #243
We've added support for content moderation in v5.2.0.

[2021-01-29 19:05] G-Lenz commented on #132
We've fixed these issues with smart cropping in v5.2.0.

[2021-01-29 19:05] G-Lenz commented on #133
We have fixed these issues with smart cropping in v5.2.0.

[2021-01-29 19:06] G-Lenz commented on #247
We have added the above fix to v5.2.0.

[2021-01-29 19:09] G-Lenz commented on #254
We now round floating point numbers provided to the width and height on resize in v5.2.0.

[2021-01-29 19:26] MartijnKooij commented on #254
Awesome, thanks for the update!

[2021-01-31 03:15] niqo01 opened #261 "Use API Gateway HTTP API instead of Rest"
**Describe the feature you'd like**
Use APIGateway HTTP API  in order to decrease the overall cost of this solution.

**Additional context**
I am not an expert but I don't see any disadvantages or possible blockers in using HTTP api instead of rest.

[2021-02-01 04:09] joebernard commented on #133
I upgraded to v5.2.0. It returns a 400 error with these settings:

[code]

No matter what padding value I try it returns the same error. If no padding is passed it does return a face very closely cropped and not really usable.

[2021-02-01 17:16] thewebwell commented on #239
I am having a similar problem. My S3 images return headers with cache-control max-age=31536000, and I can see this header showing in the image response from Cloudfront. The problem is despite this, all images are expiring from Cloudfront within 24 hours, so each day when loading up a website, it has to regenerate all the images again for a the site. With large images, this can result in a delay of

[2021-02-01 17:44] niqo01 opened #262 "Add support for Thumbor Max Bytes filter"
**Is your feature request related to a problem? Please describe.**
If I understand correctly, this solution can't result in transformed images bigger than 6MB.
Thumbor support a max bytes filter and it looks like the Serverless image handler does not based on the documentation.

**Describe the feature you'd like**
In order to prevent clients experiencing this issue we could allow them to specify t

[2021-02-01 21:30] beomseoklee commented on #262
@niqo01, thanks for your feedback.
Serverless Image Handler doesn't use Thumbor exactly but support Thumbor style URLs for the backward compatibility. Currently, it doesn't support `max_bytes` filter.

I'll put this item into our backlog so that we can decide the best way.

[2021-02-01 21:53] beomseoklee commented on #261
@niqo01 thanks for your feedback.
I've put this one into our backlog items, and we will discuss this one.

[2021-02-03 05:43] stephengodderidge commented on #184
@beomseoklee Was the beta version with symantic filenames ever merged into production? It seems that the current version only supports the encoded string unfortunately.

[2021-02-16 14:52] joebernard commented on #133
Has anyone been able to get `padding` working with `smartCrop`? It seems to only work on pictures that contain a face. If the pic does not contain a face, it throws the error above.

@G-Lenz Should I open a separate issue for this?

[2021-02-16 18:03] G-Lenz commented on #133
Hi @joebernard you can feel free to open a new issue, I have also added the issue to our backlog. Thank you for bringing this to our attention.

[2021-02-16 21:13] joebernard opened #263 "SmartCrop: The padding value you provided exceeds the boundaries of the original image"
**Describe the bug**
I upgraded to v5.2.0. It returns a 400 error with these settings:

[code]

No matter what padding value I try it returns the same error. If no padding is passed it does return a face very closely cropped and not really usable.

**To Reproduce**
`smartCrop` with a `faceIndex` and a non-zero `padding`

**Expected behavior**
`smartCrop` should allow a `padding`

**Please complete

[2021-02-16 21:14] joebernard commented on #133
Closing this as the `faceIndex` issue is resolved in 5.2.0.

I opened #263 regarding the `padding` issue.

[2021-02-16 21:14] #133 closed

[2021-02-16 21:42] beomseoklee commented on #263
@joebernard Thanks for your feedback. We will get back to you after investigating the issue.